{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/sales_saleorder_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content-body">
    <div class="content-body__section">
        <div class="card-info">
            <div class="card-info-header">
                <div class="header-item">
                    Informacion de Pedido:
                </div>
            </div>
            <div class="card-info-body">
                <div class="card-info-body__items">
                    {% tag_card_info_body_item_text "Orden de Venta" record.saleorder _size="x1" _icon="fas fa-file-invoice-dollar" %}
                    {% tag_card_info_body_item_date "Fecha de orden de venta" record.saleorder.created_date _size="x1" %}
                    {% tag_card_info_body_item_text "Metodo de Pago" record.get_method_display _size="x1" _icon="fas fa-credit-card" %}
                    {% tag_card_info_body_item_text "Sucursal" record.branchoffice.name _size="x1" _icon="fas fa-store" %}
                    {% tag_card_info_body_item_text "Articulos en Orden de Venta" record.saleorder.qty_items _size="x1" _icon="fas fa-boxes" %}
                    {% tag_card_info_body_item_currency "Cantidad Pagada" record.amount _size="x1" %}
                    {% tag_card_info_body_item_currency "Cantidad por Pagar en Orden de Venta" record.saleorder.amount_outstanding _size="x1" %}
                    {% tag_card_info_body_item_currency "Costo total de Orden de Venta" record.saleorder.total_amount _size="x1" %}                                              
                </div>
            </div>
        </div>            
    </div>            
    <div class="content-body__aside">
        {% tag_card_aside_audit record %}    
    </div>        
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/sales_saleorder_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}