{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/sales_saleorder_invoice.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">
        {% tag_bar_navigation url_list back_text False %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    Información de Facturación
                </div>
                <div class="card-form-body">
                    {% tag_field_select form.payment_form %}
                    {% tag_field_select form.payment_method %}
                    {% tag_field_select form.cfdi_use %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            {% comment %} {% tag_card_aside_audit form.instance %} {% endcomment %}
        </div>
    </div>

    {% tag_card_form_controls %}
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/sales_saleorder_invoice.min.js' %}"></script>
{% endblock scripts %}
