{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_user_new.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data" > 
    {% csrf_token %}
    
    <div class="content-header">
            {% tag_bar_navigation back_url back_text False %}
        <div class="title-main">
            {{page_title}}
        </div>
        
        {% tag_messages messages %}
    </div>
    
    <div class="content-body">
        
        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.name %}
                    {% tag_field_text form.email %}
                    {% tag_field_checkbox form.is_active %}
                </div>
            </div>
        </div>
        
        <div class="content-body__aside">
            <div class="card-aside">
                <div class="card-aside-header">
                    Ultimo agregado:
                </div>
                <div class="card-aside-body">
                    {% if last_record.pk %}
                    {% tag_card_aside_body_item_text "ID:" last_record.id %}
                    {% else %}
                    {% tag_card_aside_body_empty "Sin registros"%}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    {% tag_card_form_controls %}
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/security_user_new.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
