{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_employee_list.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="title-main-text">
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% if records %}
                {% tag_toolbar_button  _url='security:employee-list-xls' _access='CREP' %}
                {% tag_toolbar_button _url='security:employees-import' _access='CREP' _tag='Importar' _icon="fas fa-arrow-alt-circle-down" %}
                {% endif %}
            </div>
            <div class="toolbar-left">
                {% tag_action_button _url=url_new _access='CREP' %}
            </div>
        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">

            {% if records or is_filtered %}
            <div class="card-list__header">
                <div class="header__tabs">
                   {% tag_tabs_list is_filtered url_list %}
                </div>

                <div class="header__search">
                    <div class="search" >
                        {% tag_search_bar search_value %}
                        {% tag_modal_filters filters.form url_list %}
                    </div>

                    {% tag_filters_values %}
                </div>
            </div>
            {% endif %}

            <div class="card-list__body">
            {% for record in records %}
                <div class="card">
                    <div class="card-header">
                        {% tag_card_header_item "ID" record.pk %}
                        {% tag_card_header_item "Estado" record.status_text _class=record.status_color %}
                    </div>
                    <div class="card-body">
                        <div class="card-body-items">
                            {% tag_card_body_item_text "Nombre del Empleado" record.user.name %}
                            {% tag_card_body_item_text "Email" record.user.email %}
                        </div>
                        {% tag_card_body_actions record.url_edit _access='EDEP' %}
                    </div>
                </div>

            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/security_employee_list.min.js' %}"></script>
{% endblock scripts %}
