{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/support_ticket_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        {% tag_bar_navigation url_list back_text false %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_select form.type %}
                    {% tag_field_text form.assigned_to %}
                    {% tag_field_textarea form.description _size="x3" %}
                    {% tag_field_select form.status %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Estado
                </div>
                <div class="card-form-body">
                    {% tag_field_checkbox form.is_active %}
                </div>
            </div>

        </div>

        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/support_ticket_edit.min.js' %}"></script>
{% endblock scripts %}
