{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_profile_password.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">
        <div class="title-main">
            {{page_title}}
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                <a class="toolbar-right__item" href="{% url 'home:profile-detail' USER.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Perfil
                    </span>
                </a>
                <a class="toolbar-right__item active" href="{% url 'home:profile-password' USER.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-key"></i>
                    </span>
                    <span class="item-text">
                        Contraseña
                    </span>
                </a>
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    En esta pagina puede cambiar su actual contraseña
                </div>
                <div class="card-form-body">
                    {% tag_messages messages %}
                    {% tag_form_errors form %}
                    {% tag_field_text form.password1 _size="x2" %}
                    {% tag_field_text form.password2 _size="x2" %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            <div class="card-aside">
                <div class="card-aside-header">
                    Detalle:
                </div>
                <div class="card-aside-body">
                    {% tag_card_aside_body_item_date "Creado el:" form.user.date_joined %}
                    {% tag_card_aside_body_item_date "Ultimo Login:" form.user.last_login %}
                </div>
            </div>
        </div>

    </div>

    {% tag_card_form_controls True %}

</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_profile_password.min.js' %}"></script>
{% endblock scripts %}
