{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/support_ticket_new.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">
        {% tag_bar_navigation url_list back_text False %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_select form.type %}
                    {% tag_field_text form.assigned_to %}
                    {% tag_field_textarea form.description _size="x3" %}
                    {% tag_field_select form.status _size="x1" %}
                </div>
            </div>

        </div>

        <div class="content-body__aside">
            <div class="card-aside">
                <div class="card-aside-header">
                    Ultimo agregado:
                </div>
                <div class="card-aside-body">
                    {% if last_record %}
                    {% tag_card_aside_body_item_text "Titulo:" last_record.title %}
                    {% tag_card_aside_body_item_text "Fragmento del Documento Legal:" last_record.content|truncatechars_html:50 %}
                    {% tag_card_aside_body_item_text "Creado el:" last_record.created_date %}
                    {% else %}
                    {% tag_card_aside_body_empty "Sin registros"%}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    {% tag_card_form_controls %}
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/support_ticket_new.min.js' %}"></script>
{% endblock scripts %}
