{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_company_billing.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">
        
        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-file-invoice"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text False %}
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% tag_nav_bar_button _url='security:company-edit' _pk=pk _tag='Empresa' _icon="fas fa-building" _access='EDEM' %}
                <!-- {% tag_nav_bar_button _url='security:company-email' _pk=pk _tag='Correo de Empresa' _icon="fas fa-at" _access='CECC' %} -->
                {% tag_nav_bar_button _url='security:company-billing' _pk=pk _tag='Facturación' _icon="fas fa-file-invoice" _access='MOFA' _active=True %}                
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">
        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-body">
                    {% tag_form_errors form %}                    
                    {% tag_field_text form.rfc %}
                    {% tag_field_text form.cer %}
                    {% tag_field_text form.key %}
                    {% tag_field_text form.password %}
                    {% tag_field_select form.fiscal_regimen %}
                    {% tag_field_checkbox form.is_active %}
                </div>
            </div>
        </div>
        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
            {% if instance.rfc %}
            <div class="card-aside">
                <div class="card-aside-header">
                    Otras Acciones:
                </div>
                <div class="card-aside-body">
                    <div class="card-aside-body-data">
                        <a href="{% url 'security:company-billing-delete' pk %}" class="btn btn-normal btn-main">
                            <i class="fas fa-file-invoice-dollar"></i>
                            &nbspEliminar Facturación
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% tag_card_form_controls True %}
    
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/security_company_billing.min.js' %}"></script>
{% endblock scripts %}
