{% load static %}

<nav class="menu-main" id="menu-main">
    {% comment %} <div class="menu-main__header">
        <a class="header__logo" href="{% url 'home:dashboard' %}">
            <i class="fas fa-home item-link-1i"></i> PetStore
            
            <img src="{% static 'images/logos/logo_crm_main.png' %}" alt="logo">
        </a>
        <a class="close-btn" href="#" id="menu-main__header-close-btn">
            <i class="fas fa-times"></i>
        </a>
    </div> {% endcomment %}
    <ul>
        {% comment %} <li class="menu-main__item">
            <a href="{% url 'home:dashboard' %}" class="item-link">
                <i class="fas fa-home item-link-1i"></i>
                <span> Inicio</span>
            </a>
        </li> {% endcomment %}
        {% comment %} <li class="menu-main__item" data-type="submenu">
            <a href="#" class="item-link">
                <i class="fas fa-user-tie item-link-1i"></i>
                <span> Administración</span>
                <i class="fas fa-angle-down item-link-2i"></i>
            </a>
            <ul class="item-menu item-menu--close">
                <li class="item-menu-opt">
                    <a href="{% url 'security:company-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-building"></i>
                        </span>
                        <span>Empresas</span>
                    </a>
                </li>
                <!-- <li class="item-menu-opt">
                    <a href="{% url 'security:companyclass-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>Clases de Empresas</span>
                    </a>
                </li> -->
                <li class="item-menu-opt">
                    <a href="{% url 'security:branchoffice-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-store-alt"></i>
                        </span>
                        <span>Sucursales</span>
                    </a>
                </li>
            </ul>
        </li> {% endcomment %}

        {% if is_superuser or 'VEAR' in permissions or 'VEAL' in permissions or 'VECI' in permissions or 'VEST' in permissions or 'VERP' in permissions %}
        <li class="menu-main__item" data-type="submenu">
            <a href="#" class="item-link">
                <i class="fas fa-boxes item-link-1i"></i>
                <span> Inventarios</span>
                <i class="fas fa-angle-down item-link-2i"></i>
            </a>
            <ul class="item-menu item-menu--close">
                {% if is_superuser or 'VEAR' in permissions %}
                <li class="item-menu-opt">
                    <a href="{% url 'core:item-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-hammer"></i>
                        </span>
                        <span>Articulos</span>
                    </a>
                </li>
                {% endif %}
                {% if is_superuser or 'VECI' in permissions %}
                <li class="item-menu-opt">
                    <a href="{% url 'inventory:docinitialentry-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-level-down-alt"></i>
                        </span>
                        <span>Carga Inicial</span>
                    </a>
                </li>
                {% endif %}
                {% if is_superuser or 'VEST' in permissions %}
                <li class="item-menu-opt">
                    <a href="{% url 'core:stockitem-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-box"></i>
                        </span>
                        <span>Stock</span>
                    </a>
                </li>
                {% endif %}
                {% if is_superuser or 'VERP' in permissions %}
                <li class="item-menu-opt">
                    <a href="{% url 'inventory:docreception-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-hands"></i>
                        </span>
                        <span>Recepciones</span>
                    </a>
                </li>
                {% endif %}
                <li class="item-menu-opt">
                    <a href="{% url 'inventory:docdispatch-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-share-square"></i>
                        </span>
                        <span>Despachos</span>
                    </a>
                </li>
                <li class="item-menu-opt">
                    <a href="{% url 'inventory:docshrinkage-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-dumpster"></i>
                        </span>
                        <span>Merma</span>
                    </a>
                </li>
                <li class="item-menu-opt">
                    <a href="{% url 'inventory:docadjustment-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-exchange-alt"></i>
                        </span>
                        <span>Ajustes</span>
                    </a>
                </li>
                {% comment %} <li class="item-menu-opt">
                    <a href="#" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>Kardex</span>
                    </a>
                </li> {% endcomment %}
            </ul>
        </li>
        {% endif %}
        {% if is_superuser or 'VEPV' in permissions or 'VEOC' in permissions or 'VEEG' in permissions %}
        <li class="menu-main__item" data-type="submenu">
            <a href="#" class="item-link">
                <i class="fas fa-shopping-basket item-link-1i"></i>
                <span> Compras</span>
                <i class="fas fa-angle-down item-link-2i"></i>
            </a>
            <ul class="item-menu item-menu--close">
                {% if is_superuser or 'VEPV' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'core:supplier-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-user-circle"></i>
                            </span>
                            <span>Proveedores</span>
                        </a>
                    </li>
                {% endif %}
                    <!-- <li class="item-menu-opt">
                        <a href="{% url 'procurement:requisitionorder-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span>Solicitudes de Compra</span>
                        </a>
                    </li> -->
                {% if is_superuser or 'VEOC' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'procurement:purchaseorder-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-file-download"></i>
                            </span>
                            <span>Ordenes de Compra</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_superuser or 'VEEG' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'procurement:expense-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-hand-holding-usd"></i>
                            </span>
                            <span>Egresos</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if is_superuser or 'VECL' in permissions or 'VEOV' in permissions or 'VEPA' in permissions %}
        <li class="menu-main__item" data-type="submenu">
            <a href="#" class="item-link">
                <i class="far fa-handshake item-link-1i"></i>
                <span> Ventas</span>
                <i class="fas fa-angle-down item-link-2i"></i>
            </a>

            <ul class="item-menu item-menu--close">
                {% if is_superuser or 'VECL' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'core:client-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="far fa-user-circle"></i>
                            </span>
                            <span>Clientes</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_superuser or 'VEOV' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'sales:saleorder-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-file-upload"></i>
                            </span>
                            <span>Ordenes de Venta</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_superuser or 'VEPA' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'sales:payment-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </span>
                            <span>Pagos</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% comment %} {% if is_superuser or 'VEEP' in permissions %}
        <li class="menu-main__item" data-type="submenu">
            <a href="#" class="item-link">
                <i class="fas fa-sitemap item-link-1i"></i>
                <span> Recursos Humanos</span>
                <i class="fas fa-angle-down item-link-2i"></i>
            </a>

            <ul class="item-menu item-menu--close">
                {% if is_superuser or 'VEEP' in permissions %}
                    <li class="item-menu-opt">
                        <a href="{% url 'security:employee-list' %}" class="item-menu-opt-link">
                            <span class="item-menu-opt-link-1i">
                                <i class="fas fa-users"></i>
                            </span>
                            <span>Empleados</span>
                        </a>
                    </li>
                {% endif %}
                <li class="item-menu-opt">
                    <a href="{% url 'security:companyposition-list' %}" class="item-menu-opt-link">
                        <span class="item-menu-opt-link-1i">
                            <i class="fas fa-hard-hat"></i>
                        </span>
                        <span>Puestos</span>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %} {% endcomment %}
    </ul>
</nav>
