<nav class="menu-user menu-user--close" id="menu-user">
    <div class="menu-user__options">
        <ul class="optionlist">
            <li class="optionlist__item">
                <a href="{% url 'home:profile-detail' pk %}"
                class="item-action">
                    <i class="fas fa-user-circle"></i>
                    <span>
                        Tu Cuenta
                    </span>
                </a>
            </li>
            {% if is_superuser %}
            <li class="optionlist__item">
                <a href="{% url 'home:settings' %}"
                class="item-action">
                    <i class="fas fa-cog"></i>
                    <span>
                        Configuración
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="menu-user__options">
        <ul class="optionlist">
            <li class="optionlist__item">
                <a href="{% url 'home:logout' %}"
                id="btn-logout-menu"
                class="item-action">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>
                        Cerrar la sesión
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>