{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/security_employee_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">
        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text False %}
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% tag_nav_bar_button _url='security:employee-edit' _pk=form.instance.pk _tag='Perfil' _icon="fas fa-user-check" _access='EDEP' _active=True %}
                {% tag_nav_bar_button _url='security:employee-assignment' _pk=form.instance.pk _tag='Asignaciones' _icon="fas fa-map-marked-alt" _access='CRAS' %}               
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Información Basica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.name %}
                    {% tag_field_text form.email %}
                    {% tag_field_select form.companies %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Telefonos de Empleado
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.home_phone %}
                    {% tag_field_text form.cel_phone %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Información Personal de Empleado
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.birthdate %}
                    {% tag_field_select form.gender %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Direccion de Empleado
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.settlement %}
                    {% tag_field_text form.municipality %}
                    {% tag_field_text form.street %}
                    {% tag_field_text form.outdoor_number %}
                    {% tag_field_text form.interior_number %}
                    {% tag_field_text form.zip_code %}
                    {% tag_field_text form.between_street_a %}
                    {% tag_field_text form.between_street_b %}
                    {% tag_field_text form.latitude %}
                    {% tag_field_text form.longitude %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            {% tag_card_image form.photography form.instance.photography %}

            <div class="card-aside">
                <div class="card-aside-header">
                    Estatus del Usuario:
                </div>
                <div class="card-aside-body">
                    {% if form.instance.is_active %}
                        <div class="card-aside-body-leyend green">
                            <div class="leyend-data">
                                <span class="icon">
                                        <i class="fas fa-check-square"></i>
                                </span>
                                <span class="text">
                                    ACTIVO
                                </span>
                            </div>
                        </div>

                        <div class="card-aside-body-item">
                            <div class="item-label">
                                Desde el:
                            </div>
                            <div class="item-data">
                                <div class="data-icon">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="data-value">
                                    {{ form.instance.user.date_activated|date:"d M Y, H:i" }} </span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card-aside-body-leyend red">
                            <div class="leyend-data">
                                <span class="icon">
                                    <i class="fas fa-window-close"></i>
                                </span>
                                <span class="text">
                                    INACTIVO
                                </span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default" name="activation">
                            <span>
                                Enviar email
                            </span>
                        </button>
                    {% endif %}
                </div>
            </div>

            {% tag_card_aside_audit form.instance %}
            {% if form.instance.latitude and form.instance.longitude %}
                {% tag_aside_map form.instance %}
            {% endif %}

        </div>
    </div>

    {% tag_card_form_controls True %}

</form>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/security_employee_edit.min.js' %}"></script>
{% endblock scripts %}
