{% load static %}
{% load tags_security %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Innovations">
    <meta name="author" content="Sintaxyz Team">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{page_name}}</title>

    {% block css %}
    {% endblock css %}
</head>
<body>
    <div class="wrapper">
        <main class="main" id="main">
            <header class="header">
                <div class="bar-main-in">
                    <span class="bar-main-in__menu-icon" id="bar-main-in__menu-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                    <span class="bar-main-in__title">
                        <a href="{% url 'home:dashboard' %}">
                            PetStore
                        </a>
                    </span>

                    <span class="bar-main-in__user" id="bar-main-in__user">
                        <i class="fas fa-user-circle user-icon"></i>
                        {% comment %} <span class="user-text">
                            <div class="user-text-h1">{{ USER.email|upper }}</div>
                            <!-- <div class="bar-main-in__user-text-h2">{{ USER.short_name|default:" " }}</div> -->
                        </span> {% endcomment %}
                        <i class="fas fa-chevron-down user-row"></i>
                    </span>
                </div>

                {% tag_menu_user %}

            </header>

            <div class="container">
                {% tag_menu_main %}

                {% block content %}
                {% endblock content %}
            </div>

            <div class="loading-wrap" id="spinner">
                <div class="loading"></div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-text-left">
                <div>{{APP.partner_name}} © {{APP.year_release}}. All rights reserved</div>
                <div>Powered by <a href="http://sintaxyz.com/">Sintaxyz.com</a></div>
            </div>
            <div class="footer-text-right">
                <div><a href="{% url 'home:terms' %}">Terminos y Condiciones</a></div>
                <div><a href="{% url 'home:privacity' %}">Aviso de Privacidad</a></div>
                <div><a href="{% url 'home:questions' %}">Preguntas Frecuentes</a></div>
            </div>
        </footer>
    </div>

    <!-- <script src="{% static 'libs/fontawesome/5.8.2/js/all.min.js' %}?version={{ APP.version }}"></script> -->
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
