{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/security_companyclass_new.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">
        {% tag_bar_navigation url_list back_text False %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    Clase
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.name %}
                    {% tag_field_text form.abbreviation %}
                </div>
            </div>

        </div>

        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
        </div>

    </div>

    {% tag_card_form_controls %}
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/security_companyclass_new.min.js' %}"></script>
{% endblock scripts %}
