{% extends "master/in/master_in.html" %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_settings.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<div class="content">

    <div class="content-header">
        <div class="title-main">
            Configuración
        </div>
    </div>

    <div class="content-body">
        <div class="card-options">
            <div class="card-options__list">

                <a href="{% url 'security:company-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-building"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Empresas
                        </span>
                        <span class="body_text">
                            Administre las empresas disponibles a su cargo
                        </span>
                    </div>
                </a>

                <a href="{% url 'security:branchoffice-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-store-alt"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Sucursales
                        </span>
                        <span class="body_text">
                            Gestione las sucursales que pertenecen a sus empresas.
                        </span>
                    </div>
                </a>

                {% comment %} <a href="{% url 'security:companyposition-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fab fa-black-tie"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Puestos
                        </span>
                        <span class="body_text">
                            Gestiona los puesto de los empleados y sus permisos.
                        </span>
                    </div>
                </a> {% endcomment %}

                <a href="{% url 'core:warehouse-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-warehouse"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Almacenes
                        </span>
                        <span class="body_text">
                            Gestiona los almacenes de sus empresas.
                        </span>
                    </div>
                </a>

                <a href="{% url 'core:udm-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-ruler"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Unidades de Medida
                        </span>
                        <span class="body_text">
                            Gestiona las unidades de medida que usarás en tu plataforma.
                        </span>
                    </div>
                </a>

                {% comment %} <a href="{% url 'support:emailsetting-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-at"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Email
                        </span>
                        <span class="body_text">
                            Configura la cuenta de correo utilizada para el envio de correos
                        </span>
                    </div>
                </a> {% endcomment %}
            </div>
        </div>
    </div>

</div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_settings.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
