{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/procurement_purchaseorder_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="content">
        <div class="content-header">
            <div class="breadcrumb">
                <div class="breadcrumb-title">
                    {{page_title}}
                </div>
            </div>
        </div>

        {% tag_messages messages %}

        <div class="content-body">
            <div class="content-body__section">
                <div class="card-info">
                    <div class="card-info-header">
                        <div class="header-item">
                            Informacion de Order de Compra:
                        </div>
                    </div>
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            {% tag_card_info_body_item_text "Proveedor" record.supplier.commercial_name _size="x1" _icon="fas fa-user" %}
                            {% tag_card_info_body_item_text "Almacen" record.warehouse.name _size="x1" _icon="fas fa-warehouse" %}
                            {% tag_card_info_body_item_text "Descripción" record.description _size="x1" _icon="fas fa-file-alt" %}
                            {% tag_card_info_body_item_text "Comentarios" record.comments _size="x1" _icon="fas fa-comment-dots" %}
                            {% tag_card_info_body_item_text "Cantidad de Articulos" record.qty_items _size="x1" _icon="fas fa-boxes" %}
                            {% tag_card_info_body_item_currency "Subtotal por Articulos" record.subtotal_price _size="x1" %}
                            {% tag_card_info_body_item_currency "Impuesto total por Articulos" record.total_tax _size="x1" %}
                            {% tag_card_info_body_item_currency "Costo Total por Articulos" record.total_amount _size="x1" %}
                            {% tag_card_info_body_item_currency "Cantidad Pendiente" record.amount_outstanding _size="x1" %}
                            {% tag_card_info_body_item_text "Estado" record.get_status_display _size="x1" %}
                            {% tag_card_info_body_item_text "Metodo de Pago" record.get_paymethod_display _size="x1" %}
                        </div>
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-info-header">
                        <div class="header-item">
                            Articulos:
                        </div>
                    </div>
                </div>
                {% for item in record.order_line.all %}
                    <div class="card-info">
                        <div class="card-info-body">
                            <div class="card-info-body__items">
                                {% tag_card_info_body_item_text "Articulo" item.item.item.name _size="x1" _icon="fas fa-box-open" %}
                                {% tag_card_info_body_item_text "Codigo de Barras" item.item.item.upc _size="x1" _icon="fas fa-barcode" %}
                                {% tag_card_info_body_item_text "Comentarios" item.comments _size="x1" _icon="fas fa-comment-dots" %}
                                {% tag_card_info_body_item_text "Impuesto" item.tax.factor _size="x1" _icon="fas fa-university" %}
                                {% tag_card_info_body_item_text "Cantidad" item.qty _size="x1" _icon="fas fa-boxes" %}
                                {% tag_card_info_body_item_text "Cantidad Pendiente" item.qty_pending _size="x1" _icon="fas fa-boxes" %}
                                {% tag_card_info_body_item_currency "Precio" item.price _size="x1" %}
                                {% tag_card_info_body_item_currency "Subtotal" item.subtotal_price _size="x1" %}
                                {% tag_card_info_body_item_currency "Total de impuesto" item.total_tax _size="x1" %}
                                {% tag_card_info_body_item_currency "Total por Articulos" item.total_amount _size="x1" %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="card-info">
                        <div class="card-info-body">
                            <div class="card-info-body__items">
                                NO SE ENCONTRARON ARTICULOS RELACIONADOS A ESTA ORDEN DE COMPRA.
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="content-body__aside">
                {% if record.receptions.exists is False %}
                    {% if record.status == "INP" or record.status == "PEN" or record.status == "APR" %}
                        <div class="card-aside">
                            <div class="card-aside-header">
                                Cancelacion de orden:
                            </div>
                            <div class="card-aside-body">
                                <div class="card-aside-body-data">
                                    {% tag_card_aside_action_button _url='procurement:purchaseorder-cancel' _pk=record.id _tag='Cancelacion' _icon='fas fa-window-close' _access='CAOC' _button='btn btn-normal btn-main' %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                
                {% if USER.is_superuser or 'EPOC' in USER.permissions %}
                    <div class="card-aside">
                        <div class="card-aside-header">
                            Exportar PDF:
                        </div>
                        <div class="card-aside-body">
                            <div class="card-aside-body-data">                                    
                                {% tag_card_aside_action_button _url='procurement:purchaseorder-export-pdf' _pk=record.id _tag='Exportar PDF' _icon='fas fa-file-pdf' _access='EPOC' _button='btn btn-normal btn-default' _new_tab=True %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% tag_card_aside_audit record %}

            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/procurement_purchaseorder_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}