{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/inventory_docadjustment_list.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">
        <div class="title-main">
            {{page_title}}
        </div>

        <div class="toolbar">
            {% if records %}
            <div class="toolbar-right">
                <a class="toolbar-right__item" href="#" data-loading=true>
                    <span class="item-icon">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </span>
                    <span class="item-text">
                        Importar
                    </span>
                </a>
                <a class="toolbar-right__item" href="#" data-loading=true>
                    <span class="item-icon">
                        <i class="fas fa-arrow-circle-up"></i>
                    </span>
                    <span class="item-text">
                        Exportar
                    </span>
                </a>
            </div>
            {% endif %}
            <div class="toolbar-left">
                <a href="{{url_new}}" class="btn-main" data-loading=true>
                    <i class="fas fa-plus-circle"></i>
                    <span class="btn-text">
                        Agregar
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">

            {% if records or is_filtered %}
            <div class="card-list__header">
                <div class="header__tabs">
                   {% tag_tabs_list is_filtered url_list %}
                </div>

                <div class="header__search">
                    <div class="search" >
                        {% tag_search_bar search_value %}
                        {% tag_modal_filters filters.form url_list %}
                    </div>

                    {% tag_filters_values %}
                </div>
            </div>
            {% endif %}
            <div class="card-list__body">
            {% for record in records %}
            <div class="card">
                <div class="card-header">
                    {% tag_card_header_item "ID" record.pk %}
                </div>
                <div class="card-body">
                    <div class="card-body-items">
                        {% tag_card_body_item_text "Almacen" record.warehouse.name _size="x2" %}
                        {% tag_card_body_item_text "Tipo de Ajuste" record.type _size="x2" %}
                        {% if record.purchase_order %}
                            {% tag_card_body_item_text "Razon" record.reason _size="x2" %}
                        {% endif %}

                    </div>
                    {# tag_card_body_actions record.url_edit  _tag='Revisar' #}
                    {% tag_card_body_actions record.url_retrieve  _tag='Revisar' _icon='fas fa-eye' _new_tab=True %}
                </div>
            </div>

            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/inventory_docadjustment_list.min.js' %}"></script>
{% endblock scripts %}
