{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/sales_saleorder_list.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">
        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-file-upload"></i>
            </div>
            <div class="title-main-text">
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% if records %}
                {% tag_toolbar_button  _url='sales:saleorders-export-xlsx' _access='EXOV' %}
                {% tag_toolbar_button  _access='IMOV' _tag='Importar' _icon="fas fa-arrow-alt-circle-down" %}
                {% endif %}
            </div>
            <div class="toolbar-left">
                {% tag_action_button _url=url_new _access='CROV' %}
            </div>

        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">

            {% if records or is_filtered %}
            <div class="card-list__header">
                <div class="header__tabs">
                   {% tag_tabs_list is_filtered url_list %}
                   {% if total_amount %}
                   <ul class="tabs-list">
                        <li class="tabs-list-action">
                            <a href="#">
                                Total: {{total_amount}}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>

                <div class="header__search">
                    <div class="search" >
                        {% tag_search_bar search_value %}
                        {% tag_modal_filters filters.form url_list %}
                    </div>

                    {% tag_filters_values %}
                </div>
            </div>
            {% endif %}
            <div class="card-list__body">
            {% for record in records %}
            <div class="card">
                <div class="card-header">
                    {% tag_card_header_item "ID" record.pk %}
                    {% tag_card_header_item "Estado" record.status_text _class=record.status_color %}
                </div>
                <div class="card-body">
                    <div class="card-body-items">
                        {% tag_card_body_item_text "Almacen" record.warehouse _size="x1" %}
                        {% tag_card_body_item_currency "Subtotal por Articulos" record.subtotal_price _size="x1" %}
                        {% tag_card_body_item_currency "Impuesto por Articulos" record.total_tax _size="x1" %}
                        {% tag_card_body_item_currency "Costo Total por Articulos" record.total_amount _size="x1" %}
                        {% if record.client %}
                            {% tag_card_body_item_text "Cliente" record.client.commercial_name _size="x1" %}
                        {% endif %}
                        {% if record.amount_outstanding > 0 %}
                            {% tag_card_body_item_currency "Pendiente de Pago" record.amount_outstanding _size="x1" %}
                        {% endif %}
                    </div>
                    {% if record.status == 'INP'%}
                        {% tag_card_body_actions record.url_edit _access='EDOV' %}
                    {% else %}
                        {% tag_card_body_actions record.url_retrieve  _tag='Revisar' _icon='fas fa-eye' _access='VEOV' _new_tab=True %}
                    {% endif %}
                </div>
            </div>

            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/sales_saleorder_list.min.js' %}"></script>
{% endblock scripts %}
