{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/procurement_expense_list.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">
        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="title-main-text">
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% if records %}
                {% tag_toolbar_button _url='procurement:expense-export-xlsx' _access='EXEG' %}
                {% tag_toolbar_button _url='procurement:expense-import' _access='IMEG' _tag='Importar' _icon="fas fa-arrow-alt-circle-down" %}
                {% endif %}
            </div>
            <div class="toolbar-left">
                {% tag_action_button _url=url_new _access='CREG' %}
            </div>
        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">

            {% if records or is_filtered %}
            <div class="card-list__header">
                <div class="header__tabs">
                   {% tag_tabs_list is_filtered url_list %}
                </div>

                <div class="header__search">
                    <div class="search" >
                        {% tag_search_bar search_value %}
                        {% tag_modal_filters filters.form url_list %}
                    </div>

                    {% tag_filters_values %}
                </div>
            </div>
            {% endif %}

            <div class="card-list__body">
            {% for record in records %}
            <div class="card">
                <div class="card-header">
                    {% tag_card_header_item "ID" record.pk %}
                    {% tag_card_header_item "Estado" record.status_text _class=record.status_color %}
                </div>
                <div class="card-body">
                    <div class="card-body-items">
                        {% tag_card_body_item_text "Compañia" record.company.legal_entity _size="x1" %}
                        {% if record.key %}
                            {% tag_card_body_item_text "Clave" record.key _size="x1" %}
                        {% endif %}
                        {% tag_card_body_item_text "Concepto" record.get_concept_display _size="x1" %}
                        {% tag_card_body_item_currency "Monto" record.amount _size="x1" %}
                    </div>
                    {% tag_card_body_actions record.url_retrieve  _tag='Revisar' _icon='fas fa-eye' _access='VEEG' _new_tab=True %}
                </div>
            </div>

            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/procurement_expense_list.min.js' %}"></script>
{% endblock scripts %}
