{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/support_email_settings.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data" > {% csrf_token %}
    <div class="content-header">

        {% tag_bar_navigation back_url back_text False %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">
        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-body">
                    {% tag_form_errors form %}
                    {% tag_field_text form.host %}
                    {% tag_field_text form.port %}
                    {% tag_field_text form.username %}
                    {% tag_field_text form.password %}
                    {% tag_field_checkbox form.use_tls %}
                </div>
            </div>
        </div>
        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}
</form>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/support_email_settings.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
