{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/core_item_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-hammer"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text false %}
                {{page_title}}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.company %}
                    {% tag_field_text form.name %}
                    {% tag_field_text form.primary_number %}
                    {% tag_field_text form.upc %}
                    {% tag_field_text form.sku %}
                    {% tag_field_text form.sat_code %}
                    {% tag_field_select form.udm %}
                    {% tag_field_select form.udp %}
                    {% tag_field_textarea form.description _size="x3" %}
                    {% if USER.is_superuser or 'DEAR' in USER.permissions %}
                        {% tag_field_checkbox form.is_active %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            {% tag_card_image form.image form.instance.image %}
            {% if form.instance.latitude and form.instance.longitude %}
                {% tag_aside_map form.instance %}
            {% endif %}
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>

{% endblock content %}

{% block scripts %}
<script src="{% static 'build/core_item_edit.min.js' %}"></script>
{% endblock scripts %}
