@import '../../../styles/bases/colors';
@import '../../../styles/bases/typography';
@import '../../../styles/layouts/breakpoints';
@import '~sass-mq';

@import '../../../styles/components/topbar';
@import '../../../styles/components/bar_main_in';
@import '../../../styles/layouts/footer';


.content {
    padding: 2rem;
    box-sizing: border-box;
    background-color: $background-main;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    color: $brand-color3;

    text-align: center;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
}

.leyend {
    font-size: .9rem;
    color: $leyend-color;
    margin-bottom: 1rem;
}

.question-wrap {

    margin-bottom: 1.5rem;

    .question {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }
}