{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="PetStore">
    <meta name="author" content="Sintaxyz Team">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>PetStore</title>
    <link href="{% static 'build/terms.min.css' %}?version={{ APP.version }}" rel="stylesheet">
</head>
<body>
    <div class="wrapper" id="wrapper"></div>
    <script src="{% static 'build/terms.min.js' %}?version={{ APP.version }}"></script>
</body>
</html>
