@import '../../../styles/templates/_center';


.card-login {
    flex: 1 0 auto;

    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;

    justify-content: center;
    align-items: center;

    background-color: $brand-color1;
}

    .card-login-content {
        border-radius: 8px;
        width: 70%;
        padding: 2em;

        display:-webkit-box;
        display:-webkit-flex;
        display:-moz-flex;
        display:-ms-flexbox;
        display:flex;

        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

        background-color: #FFF;
    }

        .login-title {
            margin-bottom: .8em;
            margin-top: 0.2em;

            color: #384047;
            text-align: center;
            font-size: 2.5em;
            font-weight: 700;
        }

        .login-body {
            color: #384047;
        }

            .login-group-field {
                position: relative;
                margin-bottom: 8px;
            }

                .login-group-field .field {
                    width: 100%;
                    margin: 8px 0 0 0;
                    display: inline-block;
                    border: 1px solid #ccc;

                    box-shadow: inset 0 1px 3px #ddd;
                    border-radius: 4px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    padding-left: 40px;
                    padding-right: 20px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    font-size: 1rem;
                    height: 3rem;
                }
                .login-group-field .field:focus {
                    outline: none;
                    background-color: rgb(250, 255, 189)
                }
                .login-group-field .field--error {
                    border: 1px solid #cb4e4e;
                }
                .login-group-field .field-error {
                    color: $error-color;
                    font-size: .8em;
                }

                .login-field-icon {
                    position: absolute;
                    left: 4px;
                    top: 10px;
                    padding: 9px 8px;
                    font-size: 21px;
                    color: #295268;
                }

        .login-submit {
            margin-top: 1em;
            margin-bottom: 1em;

            border-radius: 4px;
            padding: 0.8em;
            transition: all 200ms ease-in-out;
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            // background-color: #295268;
            background-color: $brand-color1;
            overflow: hidden;
            text-align: center;

            font-weight: 600;
            font-size: 19px;
            color: #FFF;
            cursor: pointer;
        }
        .login-submit:hover {
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transform: translateY(-4px);
        }

        .login-forget {
            text-align: center;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

            .login-forget-leyend {
                font-size: .9em;
                margin: 1em;
            }

            .login-forget .login-forget-link {
                display: inline-block;
                font-size: .9em;
                font-weight: 700;
                text-decoration: none;

                background: $brand-color2;
                color: #fff;
                padding: .5rem 1rem;
                box-sizing: border-box;
                border-radius: 6px;
            }


@media (min-width: 576px) {
    .card-login-content {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .card-login-content {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card-login-content {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .card-login-content {
        width: 30%;
    }
}

@media (min-width: 1400px) {
    .card-login-content {
        width: 20%;
    }
}
