{% extends "master/out/master_out.html" %}
{% load static %}
{% load tags_feedback %}
{% load tags_forms %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_login.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="card-login">

        <form action="" method="post" class="card-login-content">  {% csrf_token %}

            <div class="login-title">Bienvenido</div>

            <div class="login-body">

                {% tag_messages messages %}
                {% tag_form_errors form %}

                <div class="login-group-field">
                    {% if form.email.errors %}
                        {% render_field form.email class="field field--error" %}
                    {% else %}
                        {% render_field form.email class="field" %}
                    {% endif %}

                    <i class="fas fa-user-circle login-field-icon"></i>

                    {% for error in form.email.errors %}
                    <span class="field-error">
                        {{error}}
                    </span>
                    {% endfor %}
                </div>

                <div class="login-group-field">
                    {% if form.password.errors %}
                        {% render_field form.password class="field field--error" %}
                    {% else %}
                        {% render_field form.password class="field" %}
                    {% endif %}

                    <i class="fas fa-unlock-alt login-field-icon"></i>

                    {% for error in form.password.errors %}
                    <span class="field-error">
                        {{error}}
                    </span>
                    {% endfor %}

                </div>
            </div>

            <button type="submit" class="login-submit" id="btn_submit">
                <i class="fas fa-sign-in-alt"></i>
                Entrar
            </button>

            <div class="login-forget">
                <div class="login-forget-leyend">¿Olvidaste tu contraseña?</div>
                <a href="{% url 'home:password-forgot' %}" class="login-forget-link">
                    click aqui para recuperar
                </a>
            </div>

        </form>
    </div>

{% endblock content %}

{% block scripts %}

    <script src="{% static 'build/home_login.min.js' %}?version={{ APP.version }}"></script>

{% endblock scripts %}