{% extends "master/in/master_in.html" %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/security_dashboard.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<div class="content">

    <div class="content-header">
        <div class="title-main">
            Configuración
        </div>
    </div>

    <div class="content-body">
        <div class="card-options">
            <div class="card-options__list">

                <a href="#" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-user-shield"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Permisos
                        </span>
                        <span class="body_text">
                            Lista de permisos utilizado por los puestos.
                        </span>
                    </div>
                </a>

                <a href="{% url 'support:email-settings' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-at"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Email
                        </span>
                        <span class="body_text">
                            Configura la cuenta de correo utilizada para el envio de correos
                        </span>
                    </div>
                </a>

                <a href="{% url 'support:backup-list' %}" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="far fa-save"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Backups
                        </span>
                        <span class="body_text">
                            Administra los respaldos automaticos del sitio
                        </span>
                    </div>
                </a>

                <a href="#" class="list-option">
                    <div class="list-option__icon">
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                    </div>
                    <div class="list-option__body">
                        <span class="body_title">
                            Sucursal
                        </span>
                        <span class="body_text">
                            Areas geograficas donde se concentran los articulos
                        </span>
                    </div>
                </a>

                <a href="{% url 'security:user-list' %}" class="list-option">
                        <div class="list-option__icon">
                            <span>
                                <i class="fas fa-users-cog"></i>
                            </span>
                        </div>
                        <div class="list-option__body">
                            <span class="body_title">
                                Usuarios
                            </span>
                            <span class="body_text">
                                Gestor de usuarios.
                            </span>
                        </div>
                    </a>
            </div>
        </div>
    </div>

</div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/security_dashboard.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
