{% extends "master/out/master_out.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %} Restablecer Contraseña {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_password_done.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="content">

        <div class="card-msg">
            <div class="card-msg-icon card-msg-color--green">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="card-msg-body">
                <div class="card-msg-title">
                    ¡Contraseña modificada con exito!
                </div>
            </div>
            <div class="card-msg-footer">
                <a href="{% url 'home:login' %}" class="btn btn-main">Ir a Login</a>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_password_done.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
