{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/core_contactclient_list.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-address-book"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_name false %}
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% tag_nav_bar_button _url='core:client-edit' _pk=instance.pk _tag='Cliente' _icon="fas fa-user-check" _access='EDCL' %}
                {% tag_nav_bar_button _url='core:contactclient-list' _pk=instance.pk _tag='Contacto Cliente' _icon="fas fa-address-book" _access='VECC' _active=True %}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% if records %}
                {% tag_toolbar_button _url='core:contactclient-export-xlsx' _pk=instance.pk _access='EXCC' %}
                {% tag_toolbar_button _url='core:contactclient-import' _pk=instance.pk _access='IMCC' _tag='Importar' _icon="fas fa-arrow-alt-circle-down" %}
                {% endif %}
            </div>
            <div class="toolbar-left">
                {% tag_action_button _url=url_new _access='CRCC' %}
            </div>
        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">

            <div class="card-list__body">
            {% for record in records %}
                <div class="card">
                    <div class="card-header">
                        {% tag_card_header_item "ID" record.pk %}
                        {% tag_card_header_item "Estado" record.status_text _class=record.status_color %}
                    </div>
                    <div class="card-body">
                        <div class="card-body-items">
                            {% tag_card_body_item_text "Cliente" record.client.commercial_name %}
                            {% tag_card_body_item_text "Nombre del contacto" record.name %}
                            {% if record.email %}
                                {% tag_card_body_item_text "E-mail" record.email  %}
                            {% endif %}
                            {% if record.phone %}
                                {% tag_card_body_item_text "Teléfono" record.phone %}
                            {% endif %}
                            {% if record.phone_ext %}
                                {% tag_card_body_item_text "Extensión" record.phone_ext %}
                            {% endif %}
                        </div>
                        {% tag_card_body_actions record.url_edit _access='EDCC' %}
                    </div>
                </div>
            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/core_contactclient_list.min.js' %}"></script>
{% endblock scripts %}
