{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/core_warehouse_new.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-warehouse"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text False %}
                {{page_title}}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.name %}
                    {% tag_field_text form.company %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Dirección
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.settlement %}
                    {% tag_field_text form.municipality %}
                    {% tag_field_text form.street %}
                    {% tag_field_text form.zip_code %}
                    {% tag_field_text form.outdoor_number %}
                    {% tag_field_text form.interior_number %}
                    {% tag_field_text form.between_street_a %}
                    {% tag_field_text form.between_street_b %}
                    {% tag_field_text form.latitude %}
                    {% tag_field_text form.longitude %}
                </div>
            </div>
        </div>




        <div class="content-body__aside">
            <div class="card-aside">
                <div class="card-aside-header">
                    Ultimo agregado:
                </div>

                <div class="card-aside-body">
                    {% if last_record.pk %}
                    {% tag_card_aside_body_item_text "Nombre:" last_record.name get_Fullname %}
                    {% else %}
                    {% tag_card_aside_body_empty "Sin registros"%}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% tag_card_form_controls %}
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/core_warehouse_new.min.js' %}"></script>
{% endblock scripts %}
