{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/inventory_shrinkage_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content">
    <div class="content-header">
        <div class="breadcrumb">
            <div class="breadcrumb-title">
                {{page_title}}
            </div>
        </div>
    </div>

    {% tag_messages messages %}

    <div class="content-body">
        <div class="content-body__section">
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Información de la Merma:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_text "Tipo" record.get_type_display _size="x1" %}
                        {% tag_card_info_body_item_text "Registrada por:" record.register_by _size="x1" _icon="fas fa-user" %}
                        {% tag_card_info_body_item_date "Fecha" record.date _size="x1" %}
                        {% if record.description %}
                            {% tag_card_info_body_item_text "Descripcion" record.description _size="x2" _icon="fas fa-file-signature" %}
                        {% endif %}    
                        {% if record.comments %}
                            {% tag_card_info_body_item_text "Comentarios" record.comments _size="x2" _icon="fas fa-comment-dots" %}
                        {% endif %}                            
                    </div>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Ariculos en merma:
                    </div>
                </div>
            </div>
            {% for records in record.has_mermaline.all %}
                <div class="card-info">
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            {% tag_card_info_body_item_text "Documento" records.document _size="x1" _icon="fas fa-file-alt" %}
                            {% tag_card_info_body_item_text "Line de documento" records.line _size="x1" _icon="fas fa-grip-lines" %}
                            {% tag_card_info_body_item_text "Articulo:" records.item.item.name _size="x1" _icon="fas fa-boxes" %}
                            {% tag_card_info_body_item_text "Cantidad" records.qty _size="x1" %}
                            {% if records.comments %}
                                {% tag_card_info_body_item_text "Motivo del ajuste" records.comments _size="x4" _icon="fas fa-comment-dots" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card-info">
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            NO SE ENCONTRARON ARTICULOS RELACIONADOS A ESTA ORDEN DE COMPRA.
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div> 
        <div class="content-body__aside">
            {% tag_card_aside_audit record %}    
        </div>             
    </div>        
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/inventory_shrinkage_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}