{% extends "master/in/master_in.html" %}
{% load static %}
{% load widget_tweaks %}
{% load tags_forms %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/core_item_import.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content">
       <div class="content-header">
        {% tag_bar_navigation url_list back_text false %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="content-body"> {% csrf_token %}
        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Favor de seleccionar un archivo .XLSX con los datos a importar:
                </div>
                <div class="card-form-body">
                    {% tag_import_messages import_errors %}
                    {% if USER.is_superuser or 'IMPV' in USER.permissions %}
                        <div class="file">
                            <label class="file-label" for="excel_file">Archivo:</label>
                            <input type="file" id="excel_file" class="file-input" name="excel_file"/>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if USER.is_superuser or 'IMPV' in USER.permissions %}
                <div class="content-controls__right">
                    <button type="submit" class="btn-main" name="load" data-loading=true>
                        Guardar
                    </button>
                </div>
            {% endif %}
        </div>


        <div class="content-body__aside">
            {% if USER.is_superuser or 'IMPV' in USER.permissions %}
                <div class="card-aside">
                    <div class="card-aside-header">
                        Formato de carga:
                    </div>
                    <div class="card-aside-body">
                        <div class="card-aside-body-data">
                            {% tag_card_aside_action_button _url='core:items-import-empty' _tag='Descargar' _icon='fas fa-file-excel' _access='IMPV' _button='btn btn-normal btn-default' %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
</div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/core_item_import.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
