{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/support_backup_list.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">


        <div class="title-main">
            {{page_title}}
        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">
            {% if records or is_filtered %}
            <div class="card-list__header">
                <div class="header__tabs">
                   {% tag_tabs_list is_filtered url_list %}
                </div>

                <div class="header__search">
                    <div class="search" >
                        {% tag_search_bar search_value %}
                        {% tag_modal_filters filters.form url_list %}
                    </div>

                    {% tag_filters_values %}
                </div>
            </div>
            {% endif %}

            <div class="card-list__body">
            {% for record in records %}
                <div class="card">
                    <div class="card-header">
                        {% tag_card_header_item "Fecha" record.created_date _icon="fas fa-calendar-alt" %}
                        {% tag_card_header_item "Clave" record.pk _class="blue" _icon="fas fa-hashtag" %}
                    </div>
                    <div class="card-body">
                        <div class="card-body-items">
                            {% tag_card_body_item_text "Nombre" record.name _size="x3" %}
                        </div>
                        {% tag_card_body_actions _tag='Descargar' _path=record.path _icon="fa-download" %}
                    </div>
                </div>

            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/support_backup_list.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
