{% if access is None %}    
    <a href="{{url}}" {{new_tab}} class="btn-main" data-loading=true>
        <i class="fas fa-plus-circle"></i>
        <span class="btn-text">
            {{tag}}
        </span>
    </a>
{% else %}
    {% if is_superuser or access in permissions %}    
        <a href="{{url}}" {{new_tab}} class="btn-main" data-loading=true>
            <i class="fas fa-plus-circle"></i>
            <span class="btn-text">
                {{tag}}
            </span>
        </a>
    {% endif %}
{% endif %}
