<div class="card-body-item">
    <div class="item-label">
        {{label}}
    </div>
    <div class="item-data">
        {% if url %}
        <a href="{{url}}" class="data-value {{class}}">
            {% if icon %}
            <div class="icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="value">
                {{value}}
            </div>
        </a>
        {% else %}
        <div class="data-value {{class}}">
            {% if icon %}
            <div class="icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="value">
                {{value}}
            </div>
        </div>
        {% endif %}
    </div>
</div>