<div class="card-body-item {{size}}">
    <div class="item-label">
        {{label}}
    </div>
    <div class="item-data">
        <div class="data-value">
            {% for element in values.all %}
            {{ element|default:"" }}
            {% if forloop.last is False %}
            ,
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>