{% if access is None %}    
    <div class="card-body-actions">
        <div class="card-body-actions-item">
            <a class="btn-action" href="{{url}}" {{new_tab}} data-loading=true>
                <i class="fas {{icon}}"></i>
                <span class="btn-a-text">
                    {{tag}}
                </span>
            </a>
        </div>
    </div>
{% else %}
    {% if is_superuser or access in permissions %}    
        <div class="card-body-actions">
            <div class="card-body-actions-item">
                <a class="btn-action" href="{{url}}" {{new_tab}} data-loading=true>
                    <i class="fas {{icon}}"></i>
                    <span class="btn-a-text">
                        {{tag}}
                    </span>
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}