<div class="card-body-item">
    <div class="item-label">
        {{label}}
    </div>
    <div class="item-icon">
        {% if url %}
        <a href="{{url}}" class="data-value {{class}}">
            <i class="{{value}}"></i>
        </a>
        {% endif %}
    </div>
</div>