<div class="card-header-item">
    <div class="item-label">
        {{label}}
    </div>
    <div class="item-data ">
        <div class="data-value {{clase}}">
            {% if icon %}
            <div class="icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="value">
                {{value}}
            </div>
        </div>
    </div>
</div>