{% load humanize %}

<div class="card-body-item {{size}}">
    <div class="item-label">
        {{label}}
    </div>
    <div class="item-currency">
        {% if url %}
        <a href="{{url}}" class="data-value {{class}}">
            <span class="data-value-simbol">
                {{ simbol }}
            </span>
            <span class="data-value-number">
                {{ value|default:"0.00"|intcomma }}
            </span>
        </a>
        {% else %}
        <div class="data-value {{class}}">
            <span class="data-value-simbol">
                {{ simbol }}
            </span>
            <span class="data-value-number">
                {{ value|default:"0.00"|intcomma }}
            </span>
        </div>
        {% endif %}
    </div>
</div>
