<div class="pages-bar">

    {% if has_other_pages %}
    <div class="pages-bar-pages">
        {% if has_previous %}
            <a href="{{ start_value }}" class="pages-bar-page-start">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="{{ previous_value }}" class="pages-bar-page-previous">
                <i class="fas fa-angle-left"></i>
            </a>
        {% endif %}
    
        <span class="pages-bar-page-current">
            {{ current }}
        </span>
    
        {% if has_next %}
            <a href="{{ next_value }}" class="pages-bar-page-next">
                <i class="fas fa-angle-right"></i>
            </a>
            <a href="{{ last_value }}" class="pages-bar-page-last">
                <i class="fas fa-angle-double-right"></i>
            </a>
        {% endif %}
    </div>
    {% endif %}

    <input
    type="text"
    class="pages-bar-filtered"
    id="pages-bar-filtered"
    value="{{ is_filtered }}">
</div>

