<div class="search-bar">
    <button class="search-bar__btn-filters"
    type="button"
    data-loading=true
    id="search-bar__btn-filters">
        <span class="btn-filters-icon">
            <i class="fas fa-filter"></i>
        </span>
        <span class="btn-filters-text">Filtros</span>
    </button>

    <div class="search-bar__input">
        <i class="fas fa-search search-bar__input-icon"></i>
        <input
            type="text"
            placeholder="Busqueda rapida"
            id="search_input"
            value="{{search_value}}"
            data-loading=true
            name="search_input"
        />
    </div>

    <button class="search-bar__btn-search"
    data-loading=true
    type="submit">
        Buscar
    </button>
</div>