<ul class="tabs-list">
    <li class="tabs-list-action">
        <a href="{{url}}" class={{all_class}}>
            Todos
        </a>
    </li>

    {% if show_search_tab %}
    <li class="tabs-list-action">
        <a href="#" class={{search_class}}>
            Búsqueda personalizada
        </a>
    </li>
    {% endif %}
</ul>