<div class="timeline">
    {% for record in records %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="event-time left">
                <div class="event-time-container">
                    <div class="event-time-header">
                        <a href="#">
                            {{ record.history_date|date:"d F Y H:i:s" }}
                        </a>
                    </div>
                    <div class="event-time-body">
                        {% if record.history_type == '+' %}
                            Creado por
                        {% endif %}
                        {% if record.history_type == '~' %}
                            Editado por
                        {% endif %}
                        <a href="{{ record.history_user.url_profile }}" class="event-time-body-link">
                            {{ record.history_user.full_name}}
                        </a>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="event-time right">
                <div class="event-time-container">
                    <div class="event-time-header">
                        <a href="#">
                            {{ record.history_date|date:"d F Y H:i:s" }}
                        </a>
                    </div>
                    <div class="event-time-body">
                        {% if record.history_type == '+' %}
                            Creado por
                        {% endif %}
                        {% if record.history_type == '~' %}
                            Editado por
                        {% endif %}
                        <a href="{{ record.history_user.url_profile }}" class="event-time-body-link">
                            {{ record.history_user.full_name}}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>