{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/support_alert_settings.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content">
    <div class="content-header">
        <div class="breadcrumb">
            <div class="breadcrumb-path">
                <ul>
                    <li><a href="{% url 'home:settings' %}"><i class="fas fa-cogs"></i> Seguridad</a></li>
                    <li><a href="{% url USER.url_start %}"><i class="fas fa-home"></i><span>Inicio</span></a></li>
                </ul>
            </div>
            <div class="breadcrumb-title">
                {{page_title}}
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="sections">
            <form action="" method="post" enctype="multipart/form-data" class="card-form"> {% csrf_token %}
                {% tag_card_form_header_update form.instance.pk %}
                <div class="card-form-body">
                    {% tag_messages messages %}
                    {% tag_form_errors form %}
                    {% tag_field_qty form.days_without_dates %}
                    {% tag_field_qty form.days_without_notes %}
                    {% tag_field_qty form.days_before_date %}
                </div>
            </form>
        </div>
        <div class="asides">
            {% tag_card_aside_audit form.instance %}

            <div class="card-aside">
                <div class="card-aside-header">
                    Acciones:
                </div>
                <div class="card-aside-body">
                    <div class="card-aside-body-footer">
                        <button type="button"
                        class="btn btn-normal btn-blue"
                        id="btn_subscription">
                            Subscripcion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/support_alert_settings.min.js' %}?version={{ APP.version }}"></script>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
{% endblock scripts %}
