{% extends "master/out/master_out.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}

{% block title %} Restablecer Contraseña {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_activation_confirm.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="content">

        {% if validlink %}
        <div class="card-msg">
            <div class="card-msg-icon card-msg-color--orange">
                <i class="fas fa-unlock-alt"></i>
            </div>
            <form class="card-msg-body" action="" method="post"> {% csrf_token %}
                <div class="card-msg-title">
                    Activar Cuenta
                </div>
                <div class="card-msg-subtitle">
                    ¡Especifique su contraseña!
                </div>
                <div class="card-msg-form">
                    {% tag_messages messages %}
                    {% tag_form_errors form %}
                    {% tag_field_text form.password1 %}
                    {% tag_field_text form.password2 %}
                </div>
                <div class="card-msg-footer">
                    <button type="submit" class="btn btn-main" name="save">
                        Continuar
                    </button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="card-msg">
            <div class="card-msg-icon card-msg-color--red">
                <i class="fas fa-sad-tear"></i>
            </div>
            <div class="card-msg-body">
                <div class="card-msg-title">
                    ¡Link Invalido!
                </div>
                <div class="card-msg-subtitle">
                    Este link ya ha sido utilizado. Si aún no has activado tu cuenta, favor de contactar con un administrador del sistema.
                </div>
            </div>
            <div class="card-msg-footer">
                <a href="{% url 'home:login' %}" class="btn btn-main">
                    Ir a Login
                </a>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_activation_confirm.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
