{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/procurement_purchaseorder_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content">
    <div class="content-header">
        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-level-down-alt"></i>
            </div>
            <div class="title-main-text">
                Almacen: {{ record.warehouse.name }}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">
        <div class="content-body__section">
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Información de la Carga Inicial:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_date "Fecha" record.date _size="x2" %}
                        {% tag_card_info_body_item_text "Ingresado por:" record.entry_by _size="x1" _icon="fas fa-user" %}
                        {% tag_card_info_body_item_text "Almacen" record.warehouse.name _size="x1" _icon="fas fa-warehouse" %}
                        {% tag_card_info_body_item_text "Estado" record.get_status_display _size="x2" %}
                        {% tag_card_info_body_item_text "Total de articulos:" record.qty_items _size="x1" _icon="fas fa-boxes" %}
                        {% tag_card_info_body_item_currency "Precio total:" record.total_amount _size="x1" %}
                        {% tag_card_info_body_item_text "Descripcion" record.description _size="x2" _icon="fas fa-file-signature" %}
                        {% tag_card_info_body_item_text "Comentarios" record.comments _size="x2" _icon="fas fa-comment-dots" %}
                    </div>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Articulos de Carga inicial:
                    </div>
                </div>
            </div>
            {% for records in record.has_entrylines.all %}
                <div class="card-info">
                    <div class="card-info-body">
                        <div class="card-info-body__items">                            
                            {% tag_card_info_body_item_text "Documento" records.document _size="x1" _icon="fas fa-file-alt" %}
                            {% tag_card_info_body_item_text "Line de documento" records.line _size="x1" _icon="fas fa-grip-lines" %}
                            {% tag_card_info_body_item_text "Clave:" records.item.primary_number _size="x1" _icon="fas fa-key" %}
                            {% tag_card_info_body_item_text "Articulo:" records.item.name _size="x1" _icon="fas fa-boxes" %}
                            {% tag_card_info_body_item_text "Cantidad" records.qty _size="x1" %}
                            {% tag_card_info_body_item_text "Cantidad minima" records.minimun_qty _size="x1" %}
                            {% tag_card_info_body_item_currency "Precio unitario" records.price _size="x1" %}
                            {% tag_card_info_body_item_currency "Precio de venta" records.sell_price _size="x1" %}
                            {% tag_card_info_body_item_currency "Precio Total" records.total_amount _size="x1" %}
                            {% tag_card_info_body_item_currency "Precio venta total" records.total_sell_price _size="x1" %}
                            {% if records.comments %}
                                {% tag_card_info_body_item_text "Comentarios" records.comments _size="x4" _icon="fas fa-comment-dots" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card-info">
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            NO SE ENCONTRARON ARTICULOS RELACIONADOS A ESTA CARGA INICIAL.
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div>     
        <div class="content-body__aside">
            {% tag_card_aside_audit record %}    
        </div>       
    </div>        
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/procurement_purchaseorder_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}