<div class="bar-navigation">
    <div class="bar-navigation-left">
        <a class="bar-navigation-left__item" href="{{url}}" data-loading=true>
            <span class="item-icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="item-text">
                {{label}}
            </span>
        </a>
    </div>
    {% if record_nav %}
    <div class="bar-navigation-right">
        <a class="bar-navigation-right__prev" href="">
            <i class="fas fa-arrow-left"></i>
        </a>
        <a class="bar-navigation-right__next" href="">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
    {% endif %}
</div>