<div class="item {{size}}">
    <div class="item-label">
        {{label}}
    </div>
    {% if url %}
    <a href="{{url}}" class="item-data {{class}}">
        {% if icon %}
        <div class="data-icon">
            {{ icon|safe }}
        </div>
        {% endif %}
        <div class="data-value">
            {{value}}
        </div>
    </a>
    {% else %}
    <div class="item-data {{class}}">
        {% if icon %}
        <div class="data-icon">
            {{ icon|safe }}
        </div>
        {% endif %}
        <div class="data-value">
            {{value}}
        </div>
    </div>
    {% endif %}
</div>
