<a
    href="whatsapp://send?text={{url_share|urlencode}}"
    data-action="share/whatsapp/share"
    class="card-aside-actions-item">
    <div class="item-icon">
        <i class="fab fa-whatsapp"></i>
    </div>
    <div class="item-value">
        Compartir en Whatsapp
    </div>
</a>