{% if access is None %}
    <a class="{{button}}" href="{{url}}" {{new_tab}} data-loading=true>
        <i class="fas {{icon}}"></i>
        <span class="btn-a-text">
            &nbsp{{tag}}
        </span>
    </a>
{% else %}
    {% if is_superuser or access in permissions %}
        <a class="{{button}}" href="{{url}}" {{new_tab}} data-loading=true>
            <i class="fas {{icon}}"></i>
            <span class="btn-a-text">
                &nbsp{{tag}}
            </span>
        </a>
    {% endif %}
{% endif %}
