{% load static %}

<div class="card-aside-image">
    <div class="card-aside-image-body">
        {% if object %}
            <img src="{{object.url}}"
            alt="{{form_field.id_for_label}}">
        {% else%}
            <img src="{% static 'images/decorators/noimage.svg' %}"
            alt="{{form_field.id_for_label}}">
        {% endif %}
    </div>
</div>
