<div class="card-aside-body-item {{class}}">
    <span class="item-label">{{ label }}</span>

    {% if url %}
        <a href="{{url}}" class="item-data">
            <div class="data-icon">
                <i class="far fa-calendar-alt"></i>
            </div>
            <div class="data-value">
                {{ value }}
            </div>
        </a>
    {% else%}
        <span class="item-data">
            <div class="data-icon">
                <i class="far fa-calendar-alt"></i>
            </div>
            <div class="data-value">
                {{ value }}
            </div>
        </span>
    {% endif %}
</div>
