{% load humanize %}

<div class="item {{size}}">
        <div class="item-label">
            {{label}}
        </div>
        {% if url %}
        <a href="{{url}}" class="item-currency {{class}}">
            {% if icon %}
            <div class="data-icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="data-value ">
                <span class="data-value-simbol">
                    {{ simbol }}
                </span>
                <span class="data-value-number">
                    {{ value|default:"0.00"|intcomma }}
                </span>
            </div>
        </a>
        {% else %}
        <div class="item-currency {{class}}">
            {% if icon %}
            <div class="data-icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="data-value ">
                <span class="data-value-simbol">
                    {{ simbol }}
                </span>
                <span class="data-value-number">
                    {{ value|default:"0.00"|intcomma }}
                </span>
            </div>
        </div>
        {% endif %}
    </div>
