<div class="card-aside-body-item {{class}}">
    <span class="item-label">{{ label }}</span>

    {% if url %}
        <a href="{{url}}" class="item-data">
            {% if icon %}
            <div class="data-icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="data-value">
                {{ value }}
            </div>
        </a>
    {% else%}
        <span class="item-data">
            {% if icon %}
            <div class="data-icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="data-value">
                {{ value }}
            </div>
        </span>
    {% endif %}
</div>
