<div class="card-aside">
    <div class="card-aside-header">
        Formato de carga:
    </div>
    <div class="card-aside-body">
        <div class="card-aside-body-data">
            <button type="submit" class="btn btn-normal btn-blue" name="format">
                <i class="fas fa-download"></i>
                Descargar
            </button>
        </div>
    </div>
</div>