
{% if location %}
    <div class="card-aside">
        <div class="card-aside-header">
            {{header}}:
        </div>
        <div class="card-aside-body">
            <div id="map" style="height: 250px; width: 100%;"></div>
        </div>
    </div>
{% endif %}