<div class="item {{size}}">
    <div class="item-label">
        {{label}}
    </div>
    {% if url %}
    <a href="{{url}}" class="item-data {{class}}">
        <div class="data-icon">
            <i class="far fa-calendar-alt"></i>
        </div>
        <div class="data-value">
            {{value|default:""}}
        </div>
    </a>
    {% else %}
    <div class="item-data {{class}}">
        <div class="data-icon">
            <i class="far fa-calendar-alt"></i>
        </div>
        <div class="data-value">
            {{value|default:""}}
        </div>
    </div>
    {% endif %}
</div>
