

<div class="card-aside">
    <div class="card-aside-header">
        Detalle del registro:
    </div>
    {% if record != None %}
    <div class="card-aside-body">
        {% if record.created_by %}
        <div class="card-aside-body-item">
            <span class="item-label">Creado por:</span>
            <span class="item-data">
                <div class="data-icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="data-value">
                    <a href="{{record.created_by.url_profile}}">{{ record.created_by|upper|default:"" }}</a>
                </div>
            </span>
        </div>
        {% endif %}

        {% if record.created_date %}
        <div class="card-aside-body-item">
            <span class="item-label">Creado el:</span>
            <span class="item-data">
                <div class="data-icon">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="data-value">
                    {{ record.created_date|date:"d M Y, H:i" }} </span>
                </div>
        </div>
        {% endif %}

        {% if record.updated_by  %}
            <div class="card-aside-body-item">
                <span class="item-label">Editado por:</span>
                <span class="item-data">
                    <div class="data-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="data-value">
                        <a href="{{record.updated_by.url_profile}}">{{ record.updated_by|upper|default:"" }}</a>
                    </div>
                </span>
            </div>
            <div class="card-aside-body-item">
                <span class="item-label">Editado el:</span>
                <span class="item-data">
                    <div class="data-icon">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="data-value">
                        {{ record.updated_date|date:"d M Y, H:i"}}
                    </div>
                </span>
            </div>
        {% endif %}

        {% if has_history %}
        <div class="card-aside-body-footer">
            <a href="{{ record.url_history }}" class="btn btn-normal btn-gray">
                <i class="fas fa-history"></i>
                Ver Historial
            </a>
        </div>
        {% endif %}

    </div>
    {% else %}
    <div class="card-aside-body">
        <div class="card-aside-body-empty">
            <span>Sin registro</span>
        </div>
    </div>
    {% endif %}
</div>

