<div class="item {{size}}">
        <div class="item-label">
            {{label|title}}
        </div>
        {% if url %}
        <a href="{{url}}" class="item-data {{class}}">
            {% if icon %}
            <div class="data-icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="data-value">
                {{value|default:""}}
            </div>
        </a>
        {% else %}
        <div class="item-data {{class}}">
            {% if icon %}
            <div class="data-icon">
                {{ icon|safe }}
            </div>
            {% endif %}
            <div class="data-value">
                {{value|default:""}}
            </div>
        </div>
        {% endif %}
    </div>
