{% if import_errors %}
<div class="import_msg" id="import_msg">
    <div class="import_msg-image">
        <i class="fas fa-times"></i>
    </div>
    <div class="import_msg-body">
        <div class="import_msg-body-title">
            La importación fallo por los siguientes errores
        </div>

        {% for line, errors in import_errors %}
            {% for error in errors %}
            <div class="import_msg-body-content">
                <div class="import_msg-body-line">
                    Linea {{ line }}: {{ error.error }}
                </div>

                <table class="import_table_errors">
                    <tr>
                        {% for key, value in error.row.items %}
                        <th>{{key}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for key, value in error.row.items %}
                        <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    <a href="#" class="import_msg-close" id="import_msg-btn-close">
        <i class="fas fa-times-circle"></i>
    </a>
</div>
{% endif %}