{% for message in messages %}
<div class="msg {{ message.tags }}" id="msg">
    <div class="msg-image">
        {% if message.tags == 'msg--success' %}
            <i class="fas fa-check"></i>
        {% elif message.tags == 'msg--warning' %}
            <i class="fas fa-exclamation"></i>
        {% elif message.tags == 'msg--error' %}
            <i class="fas fa-times"></i>    
        {% endif %}
    </div>
    <div class="msg-body">
        {{ message }}
    </div>
    <a href="#" class="msg-close" id="msg-btn-close">
        <i class="fas fa-times-circle"></i>
    </a>
</div>
{% endfor %}