{% if access is None %}
    <a class="toolbar-right__item {{active}}" href="{{url}}">
        <span class="item-icon">
            <i class="fas {{icon}}"></i>
        </span>
        <span class="item-text">
            {{tag}}
        </span>
    </a>
{% else %}
    {% if is_superuser or access in permissions %}
        <a class="toolbar-right__item {{active}}" href="{{url}}">
            <span class="item-icon">
                <i class="fas {{icon}}"></i>
            </span>
            <span class="item-text">
                {{tag}}
            </span>
        </a>
    {% endif %}
{% endif %}