{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_user_password.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form action="" method="post" class="content" >
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            {{page_title}}: {{form.user.username}}
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                <a class="toolbar-right__item" href="{% url 'security:user-edit' instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Datos de la cuenta
                    </span>
                </a>
                <a class="toolbar-right__item" href="{% url 'security:user-permissions' instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Permisos
                    </span>
                </a>
                <a class="toolbar-right__item active" href="{% url 'security:user-password' instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <span class="item-text">
                        Contraseña
                    </span>
                </a>
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

<<<<<<< HEAD
                        {% tag_messages messages %}
                        {% tag_form_errors form %}
                        {% tag_field_text form.password1 %}
                        {% tag_field_text form.password2 %}
                        {% tag_field_checkbox form.reset_password %}

                    {% tag_card_form_footer_update %}
=======
        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">

>>>>>>> origin/master
                </div>
                <div class="card-form-body">
                    {% tag_form_errors form %}
                    {% tag_field_text form.password1 %}
                    {% tag_field_text form.password2 %}
                    {% tag_field_checkbox form.reset_password %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            <div class="card-aside">
                <div class="card-aside-header">
                    Detalle:
                </div>
                <div class="card-aside-body">
                    {% tag_card_aside_body_item_date "Creado el:" form.user.date_joined %}
                    {% tag_card_aside_body_item_date "Ultimo Login:" form.user.last_login %}
                </div>
            </div>
        </div>

    </div>

    {% tag_card_form_controls True %}
</form>

{% endblock content %}

{% block scripts %}
<script src="{% static 'build/security_user_password.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
