
.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    width: 100%;

    &-header {
        display: flex;
        flex-direction: column;
        // margin-bottom: 1rem;
        width: 100%;

        padding: 1rem 1rem 0;
        box-sizing: border-box;

        @include mq($from: hd) {
            width: 80%;
        }

        @include mq($from: retina) {
            width: 60%;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 1rem;
        box-sizing: border-box;

        width: 100%;

        @include mq($from: laptops) {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        @include mq($from: hd) {
            width: 80%;
        }

        @include mq($from: retina) {
            width: 60%;
        }

        &__section {
            width: 100%;

            @include mq($from: laptops) {
                width: 65%;
            }

            @include mq($from: desktops) {
                width: 70%;
            }
        }

        &__aside {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mq($from: laptops) {
                width: 33%;
                flex-direction: column;
                justify-content: flex-start;
            }

            @include mq($from: desktops) {
                width: 28%;
            }
        }
    }

    &-controls {
        width: 100%;
        border-top: 1px solid $border-color;

        display: flex;
        justify-content: space-between;

        padding: 1rem;
        box-sizing: border-box;

        @include mq($from: hd) {
            width: 80%;
        }

        @include mq($from: retina) {
            width: 60%;
        }

        &__left {

        }
        &__right {

        }
    }
}