.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    padding: 1rem .5rem;
    width: 100%;
}

    .content-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .content-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq($from: laptops) {
            width: 95%;
        }

        @include mq($from: desktops) {
            width: 85%;
        }

        @include mq($from: hd) {
            width: 75%;
        }

        @include mq($from: retina) {
            width: 65%;
        }
    }


