
.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    padding: 1rem;
    width: 100%;
}

    .content-header {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
        width: 100%;
    }

    .content-body {
        display: flex;
        flex-direction: column;
    }
