@import '../bases/colors';


.footer {
    background-color: $brand-color1;
    color: #fff;
    padding: .1rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    .footer-text-left {
        text-align: left;
        padding: .5rem;
        font-size: 1rem;

        a {
            color: #fff;
            text-decoration: none;
        }

        a:visited {
            color: #fff;
        }
    }

    .footer-text-right  {
        text-align: right;
        font-size: .9rem;

        a {
            color: #fff;
            text-decoration: none;
        }

        a:visited {
            color: #fff;
        }
    }

    @include mq($from: tablets) {
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;

        .footer-text-left {
            text-align: left;
            font-size: .9rem;
            padding: .5rem;
        }
        .footer-text-right {
            text-align: right;
            font-size: .9rem;
            padding: .5rem;
        }
    }
}