
html, body {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-size: 100% auto;
    background-color: $background-main;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
}

    .main {
        flex: 1 0 auto;
        width: 100%;

        display: flex;
        flex-direction: column;

        .container {
            display: flex;
            height: 100%;
        }
    }
