
html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-size: 100% auto;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
}

    .main {
        flex: 1 0 auto;
        width: 100%;
        background-color: #f0f2f5;
        display: flex;
        flex-direction: column;
    }
