{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/shop_quotation_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        {% tag_bar_navigation url_list back_text false %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            {% tag_card_form form %}
        </div>

        <div class="content-body__aside">
            {% if form.instance.latitude and form.instance.longitude %}
                {% tag_aside_map form.instance %}
            {% endif %}
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>

<script>
var map;
function initMap() {
    var lat = {{form.instance.latitude}};
    var lon = {{form.instance.longitude}};
    var location = {lat:lat, lng:lon};
    var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 15
    });
    var marker = new google.maps.Marker({position: location, map: map});
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANhNPGcRH2atPEG9Vo1jYsUKurCZ0Ecw4&callback=initMap"
async defer></script>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/shop_quotation_edit.min.js' %}"></script>
{% endblock scripts %}
