{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}


<div class="card-form">
    {% tag_form_errors form %}

    <div class="card-form-body">
        {% for field in form %}
            {% if field.field.widget.template_name == 'django/forms/widgets/text.html' %}
                {% tag_field_text field %}
            {% elif field.field.widget.template_name == 'django/forms/widgets/select.html' %}
                {% tag_field_select field %}
            {% elif field.field.widget.template_name == 'django/forms/widgets/number.html' %}
                {% tag_field_text field %}
            {% elif field.field.widget.template_name == 'django/forms/widgets/checkbox.html' %}
                {% tag_field_checkbox field %}
            {% elif field.field.widget.template_name == 'django/forms/widgets/email.html' %}
                {% tag_field_text field %}
            {% elif field.field.widget.template_name == 'django/forms/widgets/textarea.html' %}
                {% tag_field_textarea field 'x3' %}
            {% elif field.field.widget.template_name == 'django/forms/widgets/date.html' %}
                {% tag_field_text field %}
            {% else %}
            {% endif %}
        {% endfor %}
    </div>
</div>
