<div class="content-controls">

    <div class="content-controls__left">
        {% if only_save is False %}
        <button type="submit" class="btn-default" name="savecreate" data-loading=true>
            Guardar y crear otra
        </button>
        {% endif %}
    </div>

    <div class="content-controls__right">
        <button type="submit" class="btn-main" name="save" data-loading=true>
            Guardar
        </button>
    </div>
</div>