{% load static %}

<div class="card-image">
    <div class="card-image-header">
        <span class="title">
            {{ form_field.label }}
        </span>
        {% if form_field.form_field.required is False %}
            <span class="optional">(opcional)</span>
        {% endif %}
    </div>
    <div class="card-image-body">
        {% if object %}
            <img data-card-img-view="{{form_field.id_for_label}}"
                src="{{object.url}}" alt="{{form_field.id_for_label}}">
        {% else %}
            <img data-card-img-view="{{form_field.id_for_label}}"
                src="{% static 'images/decorators/noimage.svg' %}"
                alt="{{form_field.id_for_label}}">
        {% endif %}
    </div>
    <div class="card-image-footer">
        <div class="footer-info">
            {{ form_field }}
        </div>

        <label for="{{form_field.id_for_label}}"
        class="footer-btn"
        data-card-img-btn="{{form_field.id_for_label}}">
            <i class="fas fa-upload"></i>

            <span class="btn-text">
                {% if object %}
                    Cambiar imagen
                {% else %}
                    Seleccionar imagen
                {% endif %}
            </span>
        </label>
    </div>
</div>

{% if form_field.errors %}

    <div class="file-errors">
        <ul class="file-errors-list">
            {% for error in file.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

{% endif %}