{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/core_employee_personal_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        {% tag_bar_navigation url_list back_name false %}

        <div class="title-main">
            {{page_title}}
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                <a class="toolbar-right__item active" href="{% url 'core:employee-personal-edit' form.instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Perfil
                    </span>
                </a>
                <a class="toolbar-right__item" href="{% url 'core:employee-address-edit' form.instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <span class="item-text">
                        Direcciones
                    </span>
                </a>
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            {% tag_card_form form %}
        </div>

        <div class="content-body__aside">
            {% tag_card_image_aside form.instance.photography %}
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/core_employee_personal_edit.min.js' %}"></script>
{% endblock scripts %}
