{% extends "master/out/master_out.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/password_start.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="info">
        <div class="info-title">
            ¡Hola {{user.name}}!
        </div>

        <div class="info-subtitle">
            Para iniciar deberas cambiar la contraseña actual para mejorar la protección de tus datos
        </div>

        <div class="info-body">
                {% tag_messages messages %}
                {% tag_form_errors form %}

            <form action="" method="post" class="card-form">{% csrf_token %}
                <div class="card-form-header">
                    "Favor de especificar tu contraseña nueva:"
                </div>
                <div class="card-form-body">

                    {% tag_field_text form.password1 %}
                    {% tag_field_text form.password2 %}

                    <button type="submit" class="btn btn-normal btn-green" name="save">
                        Guardar y continuar
                    </button>

                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/password_start.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
