.info {
    padding-top: 2em;
}
    .info-title {
        font-size: 2em;
        margin-bottom: 1em;
        color: white;

        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    .info-subtitle {
        font-size: 1.2em;
        margin-bottom: 1em;
        color: white;
        
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;        
    }

    .info-body {
        flex: 1 0 auto;

        display:-webkit-box; 
        display:-webkit-flex; 
        display:-moz-flex;
        display:-ms-flexbox;
        display:flex;
        justify-content: center;
        /* flex-direction: column;         */
        
        /* height: 100%; */
        /* height: auto; */

        /* align-items: center; */
    }

        .formcard {
            width: 85%;
        }

            .formcard-footer {
                text-align: center;
            }


@media (min-width: 576px) { 

    .info {
        padding-top: 2.1em;
    }

        .formcard {
            width: 80%;   
        }
}

@media (min-width: 768px) { 

    .info {
        padding-top: 2.5em;
    }

        .formcard {
            width: 80%;   
        }
}

@media (min-width: 992px) { 

    .info {
        padding-top: 3em;
    }

        .formcard {
            width: 80%;   
        }
}

@media (min-width: 1200px) { 
        .formcard {
            width: 70%;   
        }
}

@media (min-width: 1400px) { 
        .formcard {
            width: 70%;   
        }
}