{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/procurement_purchaseorder_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="content">
        <div class="content-header">
            <div class="breadcrumb">
                <div class="breadcrumb-title">
                    {{page_title}}
                </div>
            </div>
        </div>

        {% tag_messages messages %}

        <div class="content-body">
            <div class="content-body__section">
                <div class="card-info">
                    <div class="card-info-header">
                        <div class="header-item">
                            Informacion de Solicitud de Compra:
                        </div>
                    </div>
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            {% tag_card_info_body_item_date "Fecha" record.date _size="x1" %}
                            {% tag_card_info_body_item_text "Solicitado por:" record.requisited_by _size="x1" _icon="fas fa-user" %}
                            {% tag_card_info_body_item_text "Almacen" record.warehouse.name _size="x1" _icon="fas fa-warehouse" %}
                            {% tag_card_info_body_item_text "Estado" record.get_status_display _size="x2" %}
                            {% tag_card_info_body_item_text "Cantidad de Articulos" record.qty_items _size="x2" _icon="fas fa-boxes" %}
                            {% if record.description %}
                                {% tag_card_info_body_item_text "Descripcion" record.description _size="x2" _icon="fas fa-file-signature" %}
                            {% endif %}    
                            {% if record.comments %}
                                {% tag_card_info_body_item_text "Comentarios" record.comments _size="x2" _icon="fas fa-comment-dots" %}
                            {% endif %}   
                        </div>
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-info-header">
                        <div class="header-item">
                            Articulos:
                        </div>
                    </div>
                </div>
                {% for records in record.order_line.all %}
                    <div class="card-info">
                        <div class="card-info-body">
                            <div class="card-info-body__items">
                                {% tag_card_info_body_item_text "Orden" records.order _size="x1" _icon="fas fa-file-alt" %}
                                {% tag_card_info_body_item_text "Linea de la orden" records.line _size="x1" _icon="fas fa-grip-lines" %}
                                {% tag_card_info_body_item_text "Articulo" records.item.item.name _size="x1" _icon="fas fa-boxes" %}
                                {% tag_card_info_body_item_text "Cantidad" records.qty _size="x1" %}
                                {% tag_card_info_body_item_text "Comentarios" records.comments _size="x1" _icon="fas fa-comment-dots" %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="card-info">
                        <div class="card-info-body">
                            <div class="card-info-body__items">
                                NO SE ENCONTRARON ARTICULOS RELACIONADOS A ESTA ORDEN DE COMPRA.
                            </div>
                        </div>
                    </div>
                {% endfor %}                
            </div>    
            <div class="content-body__aside">
                {% tag_card_aside_audit record %}    
            </div>        
        </div>        
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/procurement_purchaseorder_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}