{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/core_contactclient_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-address-book"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text false %}
                {{page_title}}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.name %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Contacto
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.phone %}
                    {% tag_field_text form.phone_ext %}
                    {% tag_field_text form.email %}
                </div>
            </div>

            {% if USER.is_superuser or 'DECC' in USER.permissions %}
                <div class="card-form">
                    <div class="card-form-header">
                        Estado
                    </div>
                    <div class="card-form-body">
                        {% tag_field_checkbox form.is_active %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/core_contactclient_edit.min.js' %}"></script>
{% endblock scripts %}
