{% extends "master/out/master_out.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_errors_404.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content">
    <div class="content-header">
        <div class="breadcrumb">
            <div class="breadcrumb-title">
                {{page_title}}
            </div>
        </div>
    </div>

    <div class="title-main">
        {{message}}
    </div>

    <div class="list-card-btns">
        <div class="items">
            {% if gotologin %}
                <a href="{% url 'home:login' %}" class="card-btn">
                    <img class="card-btn-image" src="{% static 'images/icons/management/id-card.svg' %}" alt="empresas">
                    <div class="card-btn-body">
                        Ir a login
                    </div>
                </a>

            {% else %}
                <a href="{% url 'home:dashboard' %}" class="card-btn">
                    <img class="card-btn-image" src="{% static 'images/icons/flat-color-icons/home.svg' %}" alt="empresas">
                    <div class="card-btn-body">
                        Regresar al Inicio
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_errors_404.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}

