{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_modals %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/security_user_list.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form class="content" method="get">

    <div class="content-header">
        <div class="title-main">
            {{page_title}}
        </div>

        <div class="toolbar">
            {% if records %}
            <div class="toolbar-right">
                <a class="toolbar-right__item" href="#" data-loading=true>
                    <span class="item-icon">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </span>
                    <span class="item-text">
                        Importar
                    </span>
                </a>
                <a class="toolbar-right__item" href="#" data-loading=true>
                    <span class="item-icon">
                        <i class="fas fa-arrow-circle-up"></i>
                    </span>
                    <span class="item-text">
                        Exportar
                    </span>
                </a>
            </div>
            {% endif %}
            <div class="toolbar-left">
                <a href="{% url 'security:user-new' %}" class="btn-main" data-loading=true>
                    <i class="fas fa-plus-circle"></i>
                    <span class="btn-text">
                        Agregar
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="content-body">
        {% tag_messages messages %}

        <div class="card-list">

            {% if records or is_filtered %}
            <div class="card-list__header">
                <div class="header__tabs">
                   {% tag_tabs_list is_filtered url_list %}
                </div>

                <div class="header__search">
                    <div class="search" >
                        {% tag_search_bar search_value %}
                        {% tag_modal_filters filters.form url_list %}
                    </div>

                    {% tag_filters_values %}
                </div>
            </div>
            {% endif %}

            <div class="card-list__body">
            {% for record in records %}
                <div class="card">
                    <div class="card-header">
                        {% tag_card_header_item "Cuenta" record.username _icon="fas fa-id-card-alt" %}
                        {% tag_card_header_item "Estado" record.status_value _class=record.status_color %}
                    </div>
                    <div class="card-body">
                        <div class="card-body-items">
                            {% tag_card_body_item_text "Nombre" record.name _size="x3" _icon="fas fa-user" %}
                            {% tag_card_body_item_date "Ultimo Ingreso" record.last_login _size="x3" _icon="fas fa-calendar-alt" %}
                            {% tag_card_body_item_bool "Superusuario" record.is_superuser _icon="fas fa-user-astronaut" %}
                        </div>
                        {% tag_card_body_actions _url=record.url_edit  %}
                    </div>
                </div>

            {% empty%}
                {% tag_list_empty %}
            {% endfor %}
            </div>

            {% tag_pagination_bar %}
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/security_user_list.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}

