{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Innovations">
    <meta name="author" content="Sintaxyz Team">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{page_name}}</title>

    {% block css %}
    {% endblock css %}
</head>
<body>
    <div class="wrapper">
        <main class="main" id="main">
            <header class="header">
                <div class="bar-main-out">
                    <a href="/">
                        <!-- <img src="{% static 'images/logos/logo_crm_main.png' %}" height="50" width="50" alt="logo"> -->
                        PetStore
                    </a>
                </div>
            </header>

            {% block content %}
            {% endblock content %}

            <div class="loading-wrap" id="spinner">
                <div class="loading"></div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-text-left">
                CRM. All rights reserved
            </div>
            <div class="footer-text-right">
                Powered by <a href="http://sintaxyz.com/">Sintaxyz.com</a>
            </div>
        </footer>
    </div>

    <!-- <script src="{% static 'libs/fontawesome/5.8.2/js/all.min.js' %}?version={{ APP.version }}"></script> -->
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>