{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/inventory_docdispatch_edit.min.css' %}">
{% endblock css %}

{% block content %}

    <div id="wrapper" class="content">
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/inventory_docdispatch_edit.min.js' %}"></script>
{% endblock scripts %}
