{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/security_employee_new.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text False %}
                {{page_title}}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Información Basica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.name %}
                    {% tag_field_text form.email %}
                    {% tag_field_select form.companies %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Telefonos de Empleado
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.home_phone %}
                    {% tag_field_text form.cel_phone %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Información Personal de Empleado
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.birthdate %}
                    {% tag_field_select form.gender %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Direccion de Empleado
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.settlement %}
                    {% tag_field_text form.municipality %}
                    {% tag_field_text form.street %}
                    {% tag_field_text form.outdoor_number %}
                    {% tag_field_text form.interior_number %}
                    {% tag_field_text form.zip_code %}
                    {% tag_field_text form.between_street_a %}
                    {% tag_field_text form.between_street_b %}
                    {% tag_field_text form.latitude %}
                    {% tag_field_text form.longitude %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            {% tag_card_image form.photography form.instance.photography %}
            <div class="card-aside">
                <div class="card-aside-header">
                    Ultimo agregado:
                </div>
                <div class="card-aside-body">
                    {% if last_record.pk %}
                        {% tag_card_aside_body_item_text "Nombre:" last_record.user.name get_Fullname %}
                        {# tag_card_aside_body_item_text "Puesto:" last_record.position get_Fullname #}
                    {% else %}
                        {% tag_card_aside_body_empty "Sin registros"%}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% tag_card_form_controls %}
</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/security_employee_new.min.js' %}"></script>
{% endblock scripts %}
