{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_company_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-building"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text False %}
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% tag_nav_bar_button _url='security:company-edit' _pk=form.instance.pk _tag='Empresa' _icon="fas fa-building" _access='EDEM' _active=True %}
                <!-- {% tag_nav_bar_button _url='security:company-email' _pk=form.instance.pk _tag='Correo de Empresa' _icon="fas fa-at" _access='CECC' %} -->
                {% tag_nav_bar_button _url='security:company-billing' _pk=form.instance.pk _tag='Facturación' _icon="fas fa-file-invoice" _access='MOFA' %}            
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.legal_entity %}
                    {% tag_field_text form.commercial_name %}
                    {% tag_field_select form.classification %}
                    {% tag_field_select form.type %}
                    {% tag_field_textarea form.description %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Direccion
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.settlement %}
                    {% tag_field_text form.municipality %}
                    {% tag_field_text form.street %}
                    {% tag_field_text form.outdoor_number %}
                    {% tag_field_text form.interior_number %}
                    {% tag_field_text form.zip_code %}
                    {% tag_field_text form.between_street_a %}
                    {% tag_field_text form.between_street_b %}
                    {% tag_field_text form.latitude %}
                    {% tag_field_text form.longitude %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Informacion de Enlace
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.email %}
                    {% tag_field_text form.phone %}
                    {% tag_field_text form.website %}
                    {% tag_field_textarea form.comments _size="x3" %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Estado
                </div>
                <div class="card-form-body">
                    {% tag_field_checkbox form.is_active %}
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            {% tag_card_image form.logo form.instance.logo %}

            {% if form.instance.latitude and form.instance.longitude %}
                {% tag_aside_map form.instance %}
            {% endif %}

            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>

<script>
    var map;
    function initMap() {
        var lat = {{form.instance.latitude}};
        var lon = {{form.instance.longitude}};
        var location = {lat:lat, lng:lon};
        var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 15
        });
        var marker = new google.maps.Marker({position: location, map: map});
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANhNPGcRH2atPEG9Vo1jYsUKurCZ0Ecw4&callback=initMap"
async defer></script>


{% endblock content %}

{% block scripts %}
<script src="{% static 'build/security_company_edit.min.js' %}"></script>
{% endblock scripts %}
