{% load widget_tweaks %}
{% load tags_fields %}

<div class="modal" id="modal-filter-id">
    <div class="modal-wrap">
        <div class="modal-header">
            <div id="modal-filter-title" class="modal-header-title">
                Filtros
            </div>
            <div class="modal-header-icon">
                <a href="#" id="modal-filter-close">
                    <i class="fas fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div class="modal-body" id="modal-filter-body">

            <div class="modal-body-items">
                {% for filter in form %}
                    {% if filter|get_WidgetName == "Select" or filter|get_WidgetName == "SelectMultiple" %}
                    <div class="field">
                        <div class="select" id="{{ filter.id_for_label }}_group">
                            <label class="select-label" for="{{ filter.id_for_label }}">
                            {{ filter.label|title }}</label>
                            {{ filter|add_class:"select-input" }}

                            {% if filter.help_text %}
                            <div class="select-help">
                                {{ filter.help_text }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% elif filter|get_WidgetName == "RangeWidget" %}
                    <div class="field">
                        <div class="range" id="{{ filter.id_for_label }}_group">
                            <label class="range-label" for="{{ filter.id_for_label }}">
                                {{ filter.label|title }}
                            </label>
                            <div class="range-fields">
                                {{ filter|add_class:"range-input" }}
                            </div>

                            {% if filter.help_text %}
                            <div class="range-help">
                                {{ filter.help_text }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% elif filter|get_WidgetName == "DateTimeInput" %}
                    <div class="field">
                        <div class="date" id="{{ filter.id_for_label }}_group">
                            <label class="date-label" for="{{ filter.id_for_label }}">
                                {{ filter.label|title }}
                            </label>
                            {{ filter|add_class:"date-input" }}

                            {% if filter.help_text %}
                            <div class="date-help">
                                {{ filter.help_text }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% elif filter|get_WidgetName == "DateInput" %}
                    <div class="field">
                        <div class="date" id="{{ filter.id_for_label }}_group">
                            <label class="date-label" for="{{ filter.id_for_label }}">
                                {{ filter.label|title }}
                            </label>
                            {{ filter|add_class:"date-input" }}

                            {% if filter.help_text %}
                            <div class="date-help">
                                {{ filter.help_text }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="field">
                        <div class="text" id="{{ filter.id_for_label }}_filter">
                            <label class="text-label" for="{{ filter.id_for_label }}">
                                {{ filter.label|title }}
                            </label>
                            {{ filter|add_class:"text-input" }}

                            {% if filter.help_text %}
                            <div class="text-help">
                                {{ filter.help_text }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="modal-body-buttons">
                <a href="{{url}}"
                id="modal-filter-btn-close"
                class="btn-default">
                    <i class="fas fa-eraser"></i>
                    <span class="btn-text">
                        Quitar filtros
                    </span>
                </a>
                <button
                id="modal-filter-btn-execute"
                class="btn-main" data-loading=true>
                    <i class="fab fa-searchengin"></i>
                    <span class="btn-text">
                        Buscar
                    </span>
                </button>
            </div>

        </div>
    </div>
</div>
