{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_fields %}
{% load tags_feedback %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_user_permissions.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="content-header">
        
        {% comment %}
        {% tag_bar_navigation url_list back_text True %}
        {% endcomment %}
        
        <div class="title-main">
            {{page_title}}
        </div>
        
        <div class="toolbar">
            <div class="toolbar-right">
                <a class="toolbar-right__item" href="{% url 'security:user-edit' form.instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Datos de la cuenta
                    </span>
                </a>
                <a class="toolbar-right__item active" href="{% url 'security:user-permissions' form.instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Permisos
                    </span>
                </a>
                <a class="toolbar-right__item" href="{% url 'security:user-password' form.instance.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <span class="item-text">
                        Contraseña
                    </span>
                </a>
            </div>
        </div>
        
        {% tag_messages messages %}
    </div>
    
    <div class="content-body">
        
        <div class="content-body__section">
            {% tag_card_form form %}
        </div>
        
        <div class="content-body__aside">
            <div class="card-aside">
                <div class="card-aside-header">
                    Ultimo agregado:
                </div>
                <div class="card-aside-body">
                    {% tag_card_aside_body_item_date "Creado el:" form.instance.date_joined %}
                    {% tag_card_aside_body_item_date "Ultimo Login:" form.instance.last_login %}
                </div>
            </div>
        </div>
    </div>
    
    {% tag_card_form_controls True %}
    
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/security_user_permissions.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
