{% load widget_tweaks %}

{% if form_field.errors %}

    <div class="field {{size}}">
        <div class="select" id="{{ form_field.id_for_label }}_group">
            <label class="select-label select-label--error" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="select-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"select-input select-input--error" }}
            {% if has_button %}
            <span id="btn-{{form_field.id_for_label}}" class="select-find">
            </span>
            {% endif %}
            <div class="select-errors">
                <ul class="select-errors-list">
                    {% for error in form_field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% else %}

    <div class="field {{size}}">
        <div class="select" id="{{ form_field.id_for_label }}_group">
            <label class="select-label" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="select-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"select-input" }}
            {% if has_button %}
            <span id="btn-{{form_field.id_for_label}}" class="select-find">
            </span>
            {% endif %}
            {% if form_field.help_text %}
            <div class="select-help">
                {{ form_field.help_text }}
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
