{% load widget_tweaks %}

{% if form_field.errors %}

    <div class="field {{size}}">
        <div class="qty" id="{{ form_field.id_for_label }}_group">
            <label class="qty-label qty-label--error" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="qty-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"qty-input qty-input--error" }}
            <div class="qty-errors">
                <ul class="qty-errors-list">
                    {% for error in form_field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% else %}

    <div class="field {{size}}">
        <div class="qty" id="{{ form_field.id_for_label }}_group">
            <label class="qty-label" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="qty-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"qty-input" }}
            {% if form_field.help_text %}
            <div class="qty-help">
                {{ form_field.help_text }}
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
