{% load widget_tweaks %}

{% if form_field.errors %}

    <div class="field {{size}}">
        <div class="textarea" id="{{ form_field.id_for_label }}">
            <label class="textarea-label textarea-label--error" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="textarea-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"textarea-input textarea-input--error" }}
            <div class="textarea-errors">
                <ul class="textarea-errors-list">
                    {% for error in form_field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% else %}

    <div class="field {{size}}">
        <div class="textarea" id="{{ form_field.id_for_label }}">
            <label class="textarea-label" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="textarea-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"textarea-input" }}
            {% if form_field.help_text %}
            <div class="textarea-help">
                {{ form_field.help_text }}
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
