{% load widget_tweaks %}

{% if form_field.errors %}

    <div class="field {{size}}">
        <div class="file" id="{{ form_field.id_for_label }}_group">
            <label class="file-label file-label--error" for="{{ field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="file-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"file-input file-input--error" }}
            <div class="file-errors">
                <ul class="file-errors-list">
                    {% for error in form_field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% else %}

    <div class="field {{size}}">
        <div class="file" id="{{ form_field.id_for_label }}_group">
            <label class="file-label" for="{{ field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="file-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"file-input" }}
            {% if form_field.help_text %}
            <div class="file-help">
                {{ form_field.help_text }}
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
