{% load widget_tweaks %}

{% if form_field.errors %}

    <div class="field {{size}}">
        <div class="checkbox" id="{{ form_field.id_for_label }}">
            <label class="checkbox-label checkbox-label--error" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}
            </label>

            {{ form_field|add_class:"checkbox-input checkbox-input--error" }}

            <div class="checkbox-errors">
                <ul class="checkbox-errors-list">
                    {% for error in form_field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% else %}

    <div class="field {{size}}">
        <div class="checkbox"">
            <label class="checkbox-label">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="checkbox-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>

            {{ form_field|add_class:"checkbox-input" }}
            <label class="checkbox-new" for="{{ form_field.id_for_label }}">
            </label>

            {% if form_field.help_text %}
            <div class="checkbox-help">
                {{ form_field.help_text }}
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
