{% load widget_tweaks %}

{% if form_field.errors %}

    <div class="field {{size}}">
        <div class="text" id="{{ form_field.id_for_label }}_group">
            <label class="text-label text-label--error" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="text-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"text-input text-input--error" }}
            <div class="text-errors">
                <ul class="text-errors-list">
                    {% for error in form_field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% else %}

    <div class="field {{size}}">
        <div class="text" id="{{ form_field.id_for_label }}_group">
            <label class="text-label" for="{{ form_field.id_for_label }}">
                {{ form_field.label }}

                {% if form_field.field.required is False %}
                    <span class="text-label-optional">
                        (opcional)
                    </span>
                {% endif %}
            </label>
            {{ form_field|add_class:"text-input" }}
            {% if form_field.help_text %}
            <div class="text-help">
                {{ form_field.help_text }}
            </div>
            {% endif %}
        </div>
    </div>

{% endif %}
