{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_lists %}
{% load tags_feedback %}
{% load tags_modals %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/proceeds_necessity_list.min.css' %}">
{% endblock css %}

{% block content %}
<div class="content">

    <div class="content-header">
        <div class="breadcrumb">
            <div class="breadcrumb-path">
                <ul>
                    <li class="active"><a href="{{breadcrumb.model_url}}"><i class="{{breadcrumb.model_icon}}"></i> "{{breadcrumb.model_name_plural}}"</a></li>
                    <li><a href="{{USER.url_start}}"><i class="fas fa-home"></i> <span> "Inicio"</span></a></li>
                </ul>
            </div>
            <div class="breadcrumb-title">
                {{page_title}}
            </div>

        </div>

        <form method="get" class="toolbar">

            {% tag_search_bar search_value %}

            <div class="toolbar-actions">
                <div class="toolbar-actions-controls">
                    <a href="{{model_edit_url}}" class="btn btn-normal btn-green">
                        <i class="fas fa-plus-circle"></i>
                        Nueva
                    </a>
                </div>
            </div>

            {% tag_modal_filters filters.form url_list %}
        </form>
    </div>

    {% tag_messages messages %}

    <div class="list-cards">
        {% for record in records %}
        <div class="card">
            <div class="card-header">
                {% tag_card_header_item "LEFT ID" record.pk %}
                {% tag_card_header_item "STATUS" record.status_text _class=record.status_color %}
            </div>
            <div class="card-body">
                <div class="card-body-items">
                    {% tag_card_body_item_text "TAG FIELD" record.name _size="x3" %}
                    {% tag_card_body_item_text "TAG FIELD" record.description %}
                </div>
                {% tag_card_body_actions record.url_edit %}
            </div>
        </div>
        {% empty%}
            {% tag_list_empty %}
        {% endfor %}
    </div>

    {% tag_pagination_bar %}

</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/proceeds_necessity_list.min.js' %}"></script>
{% endblock scripts %}
