{% load static %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ORDEN DE COMPRA</title>
    <style type="text/css">
      @page {
            size: a4 portrait;
            @frame header_frame {           /* Static Frame */
                -pdf-frame-content: header_content;
                left: 50pt; width: 512pt; top: 30pt; height: 570pt;
            }
            @frame colLeft_frame {  /* Content Frame Col Left */
                -pdf-frame-content: header_content_colLeft;
                left: 39pt; width: 160pt; top: 60pt; height: 200pt;
            }
            @frame colMid_frame {             /* Content frame col mid */
                -pdf-frame-content: header_content_colMid;
                left: 173pt; width: 279pt; top: 60pt; height: 200pt;
            }
            @frame colRight_frame {             /* Content frame col  right */
                -pdf-frame-content: header_content_colRight;
                left: 299pt; width: 408pt; top: 60pt; height: 200pt;
            }
            @frame content_frame {          /* Content Frame */
                left: 35pt; width: 527pt; top: 200pt; height: 450pt;
            }
            @frame footer_frame {           /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 20pt; width: 565pt; top: 800pt; height: 50pt;
            }
            @frame footer_frame {           /* Another static Frame */
                -pdf-frame-content: footer_content_colLeft;
                left: 40pt; width: 170pt; top: 730pt; height: 90pt;
            }
            @frame footer_frame {           /* Another static Frame */
                -pdf-frame-content: footer_content_colRight;
                left: 400pt; width: 160pt; top: 729pt; height: 190pt;
            }
            @frame header_table_description {           /* Another static Frame */
                -pdf-frame-content: header_tableDescription;
                left: 50pt; width: 512pt; top: 170pt; height: 570pt;
            }
        }
        .title {text-align: center; color: black; font-style: normal; font-size: 22px; font-weight:bold; font-family: Helvetica;}
        .title-section {text-align: center; color: black; font-style: normal; font-size: 12px; font-weight:bold; font-family: Helvetica;}
        .title-table-description {text-align: center; color: black; font-style: normal; font-size: 18px; font-weight:bold; font-family: Helvetica;}

        .footer {font-size: 10px;}
        .table  {margin-bottom: 20px; font-size: 12px; padding-left: 10px;padding-right: 10px;content: inherit;margin-top:50pt;
         border: 1px solid rgb(163, 162, 162);}

        .record-body-data {font-size:12px; padding-top:5px; vertical-align:middle; text-align:center;}
        .record-body-data-label {font-size: 12px; font-weight:normal; text-align:left;}
        .record-body-data-value {font-size: 12px; font-weight: bold; text-align:left;}
        .record-body-data-stylish {font-size: 14px; font-weight: normal; font-family:'Segoe UI';}
        .record-body-data-header {font-size:12px; background-color: rgb(220,220,220); padding-top:5px; vertical-align:middle; text-align:center;}

        .center {text-align: center; top: 20pt;}
        .right {text-align: right;}
        .left {text-align: left;}
        .justify {text-align: justify;}
        .jump-page   {font-size: 12px; color: black;}
        .jump {page-break-before:always; background-color: gray;}
        .record-title   {font-size: 12px; margin: 0px; margin: 0px; text-align: center; font-weight:bold;}
        body {
            background: white url("http://localhost:8000/media/storeItems/logos/Captura_de_Pantalla_2020-04-02_a_las_13.55.51.png") no-repeat right bottom;
        }

    </style>


</head>
<body>
        <div class="title" id="header_content">
            <div>
            ORDEN DE  COMPRA
            </div>
        </div>
        <div class="title" id="header_content_colLeft">
            <div class="title-section justify">FECHA: {{ instance.date|date:"d/m/Y" }}</div>
            <div class="title-section justify">ESTADO: {{ instance.get_status_display }}</div>
        </div>

        <div class="title" id="header_content_colMid">
            <div class="title-section justify">
                <div class="title-section justify">ALMACEN: {{ instance.warehouse }}</div>
                <div class="title-section justify">PROVEEDOR: {{ instance.supplier }}</div>
                <div class="title-section justify">DESCRIPCION: {{ instance.description }}</div>
            </div>
        </div>

        <div class="title" id="header_content_colRight">
            <div class="title-section justify">FOLIO: {{ instance.id }}</div>
            <div class="title-section justify">ADEUDO PENDIENTE: {{ instance.amount_outstanding }}</div>
        </div>
    </div>

    <div id="header_tableDescription">
        <div class="title-table-description center">ARTICULOS</div>
    </div>

    <div class="content-body">
        <div class="record-description">
            <table repeat="1"  class="table without-border";>
                <tr>
                    <th class='record-body-data-header'>CODIGO DE BARRAS</th>
                    <th class='record-body-data-header'>ARTICULO</th>
                    <th class='record-body-data-header'>CANTIDAD</th>
                    <th class='record-body-data-header'>PRECIO UNITARIO</th>
                    <th class='record-body-data-header'>SUBTOTAL</th>
                    <th class='record-body-data-header'>IMPUESTOS</th>
                    <th class='record-body-data-header'>TOTAL</th>
                </tr>
                {% for item in instance.order_line.all %}

                <tr>
                    <td class="record-body-data">{{item.item.item.upc }}</td>
                    <td class="record-body-data" width="200">{{item.item.item.name }}</td>
                    <td class="record-body-data">{{item.qty }}</td>
                    <td class="record-body-data">{{item.price}}</td>
                    <td class="record-body-data">{{item.subtotal_price }}</td>
                    <td class="record-body-data">{{item.total_tax}}</td>
                    <td class="record-body-data">{{item.total_amount}} </td>
                </tr>

                {% empty %}
                    <div class="card-info">
                        <div class="card-info-body">
                            <div class="card-info-body__items">
                                NO SE ENCONTRARON ARTICULOS RELACIONADOS A ESTA ORDEN DE COMPRA.
                            </div>
                        </div>
                    </div>
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <div  id="footer_content_colRight" style="font-size: 12px;">
        <hr align="right" noshade="noshade" size="2" width="100%" color ="rgb(187, 183, 183)" />
        CANTIDAD DE ARTICULOS: {{ instance.qty_items}}<br>
        TOTAL IMPUESTOS: ${{ instance.total_tax}} MXN.<br>
        <strong>COSTO TOTAL: ${{ instance.total_amount}} MXN.</strong><br>
    </div>

    <div id="footer_content_colLeft" style="font-size: 12px;">
        <hr align="right" noshade="noshade" size="2" width="100%" color ="rgb(187, 183, 183)" />
        DIRECCION: {{instance.warehouse.company.street}}  No. {{instance.warehouse.company.outdoor_number}}<br>
        COLONIA: {{instance.warehouse.company.settlement}}<br>
        CIUDAD: {{instance.warehouse.company.municipality}}<br>
        CP:{{instance.warehouse.company.zip_code|stringformat:"i"}}<br>
    </div>


    <div class="footer" id="footer_content">
        <div class="center"> Hecho en PetStore </div>
        <div class="center"> - Pagina <pdf:pagenumber></pdf:pagenumber> de <pdf:pagecount> </pdf:pagecount> - </div>
    </div>



    </body>
    </html>



