{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/procurement_expense_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="title-main-text">
                Compàñia: {{ record.company.legal_entity }}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">  

        <div class="content-body__section">
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Informacion de Egresos:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% if record.key %}
                            {% tag_card_info_body_item_text "Clave" record.key _size="x1" _icon="fas fa-key" %}
                        {% endif %}
                        {% tag_card_info_body_item_date "Fecha de Aplicación" record.date _size="x1" %}
                        {% tag_card_info_body_item_date "Concepto" record.get_concept_display _size="x1" %}
                        {% tag_card_info_body_item_text "Estado" record.get_status_display _size="x1" %}
                        {% tag_card_info_body_item_text "Monto" record.amount _size="x1" _icon="fas fa-credit-card" %}                    
                        {% tag_card_info_body_item_text "Comentarios" record.comments _size="x1" _icon="fas fa-comment-dots" %}
                    </div>
                </div>
            </div>            
        </div>            
        <div class="content-body__aside">
            {% tag_card_aside_audit record %}    
        </div>        
    </div>
</form>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/procurement_expense_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}