{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/proceeds_necessity_new.min.css' %}">
{% endblock css %}

{% block content %}
<div class="content">

    <div class="content-header">
        <div class="breadcrumb">
            <div class="breadcrumb-path">
                <ul>
                    <li class="active"><a href="#"><i class="fas fa-plus-circle"></i></a></li>
                    <li class="show"><a href="{{breadcrumb.model_url}}"><i class="{{breadcrumb.model_icon}}"></i> "{{breadcrumb.model_name_plural}}"</a></li>
                    <li><a href="{{USER.url_start}}"><i class="fas fa-home"></i> <span> "Inicio"</span></a></li>
                </ul>
            </div>
            <div class="breadcrumb-title">
                {{page_title}}
            </div>
        </div>
    </div>

    {% tag_messages messages %}

    <form class="content-body" action="" method="post" enctype="multipart/form-data" > {% csrf_token %}

        {% tag_form_new form %}

        <div class="asides">
            <div class="card-aside">
                <div class="card-aside-header">
                    Ultimo agregado:
                </div>
                <div class="card-aside-body">
                    {% if last_record.pk %}
                        {% tag_card_aside_body_item_text "Nombre:" last_record.get_Fullname %}
                    {% else %}
                        {% tag_card_aside_body_empty "Sin registros"%}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/proceeds_necessity_new.min.js' %}"></script>
{% endblock scripts %}
