@import '../../../styles/bases/colors';
@import '../../../styles/bases/typography';
@import '../../../styles/layouts/breakpoints';
@import '~sass-mq';

@import '../../../styles/components/chart_cards';
@import '../../../styles/components/filter_select';
@import '../../../styles/components/field_text';
@import '../../../styles/components/buttons_cards';
@import '../../../styles/components/popup_alert';

.dashboard {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
