{% extends "master/in/master_in.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_dashboard.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<div id="wrapper" class="content">
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_dashboard.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
