{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/core_supplier_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text false %}
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">            
            <div class="toolbar-right">
                {% tag_nav_bar_button _url='core:supplier-edit' _pk=form.instance.pk _tag='Proveedor' _icon="fas fa-user-check" _access='EDPV' _active=True %}
                {% tag_nav_bar_button _url='core:contactsupplier-list' _pk=form.instance.pk _tag='Contacto Proveedor' _icon="fas fa-address-book" _access='VECP' %}                
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-form">
                <div class="card-form-header">
                    Información Básica
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.commercial_name %}
                    {% tag_field_text form.legal_entity %}
                    {% tag_field_text form.rfc %}
                    {% tag_field_select form.sector %}
                    {% tag_field_select form.company %}                    
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Información Bancaria
                </div>
                <div class="card-form-body">                    
                    {% tag_field_select form.bank %}
                    {% tag_field_text form.account_number %}
                    {% tag_field_text form.CLABE %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Direccion
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.settlement %}
                    {% tag_field_text form.municipality %}
                    {% tag_field_text form.street %}
                    {% tag_field_text form.outdoor_number %}
                    {% tag_field_text form.interior_number %}
                    {% tag_field_text form.zip_code %}
                    {% tag_field_text form.between_street_a %}
                    {% tag_field_text form.between_street_b %}
                    {% tag_field_text form.latitude %}
                    {% tag_field_text form.longitude %}
                </div>
            </div>

            <div class="card-form">
                <div class="card-form-header">
                    Informacion de Enlace
                </div>
                <div class="card-form-body">
                    {% tag_field_text form.email %}
                    {% tag_field_text form.phone %}
                    {% tag_field_text form.website %}
                </div>
            </div>

            {% if USER.is_superuser or 'DEPV' in USER.permissions %}
                <div class="card-form">
                    <div class="card-form-header">
                        Estado
                    </div>
                    <div class="card-form-body">
                        {% tag_field_checkbox form.is_active %}
                    </div>
                </div>
            {% endif %}
            
        </div>

        <div class="content-body__aside">
            {% if form.instance.latitude and form.instance.longitude %}
            {% tag_aside_map form.instance %}
            {% endif %}
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>

<script>
    var map;
    function initMap() {
        var lat = {{form.instance.latitude}};
        var lon = {{form.instance.longitude}};
        var location = {lat:lat, lng:lon};
        var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 15
        });
        var marker = new google.maps.Marker({position: location, map: map});
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANhNPGcRH2atPEG9Vo1jYsUKurCZ0Ecw4&callback=initMap"
async defer></script>


{% endblock content %}

{% block scripts %}
<script src="{% static 'build/core_supplier_edit.min.js' %}"></script>
{% endblock scripts %}
