{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/core_udm_edit.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        {% tag_bar_navigation url_list back_text false %}

        <div class="title-main">
            {{page_title}}
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            {% tag_card_form form %}
        </div>

        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}

</form>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/core_udm_edit.min.js' %}"></script>
{% endblock scripts %}
