{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/core_stockitem_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-box"></i>
            </div>
            <div class="title-main-text">
                Almacen: {{ record.warehouse.name }}
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">

            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Información del Articulo:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_text "Nombre" record.item.name _size="x1" %}
                        {% tag_card_info_body_item_text "Codigo de Barras" record.item.upc _size="x1" %}
                        {% tag_card_info_body_item_text "sku" record.item.sku _size="x1" %}
                        {% tag_card_info_body_item_text "Unidad de Medida" record.udm _size="x1" %}
                        {% tag_card_info_body_item_text "Cantidad" record.qty _size="x1" %}
                        {% tag_card_info_body_item_text "Minimo en Almacen" record.minimun_qty _size="x1" %}
                        {% tag_card_info_body_item_text "Precio unitario" record.price _size="x1" %}
                        {% tag_card_info_body_item_text "Precio de venta" record.sell_price _size="x1" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body__aside">
            {% tag_card_aside_image record.item.image %}

            {% tag_card_aside_audit record %}
        </div>
    </div>

</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/core_stockitem_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}