.ss-main {
    border: 0;
    padding: 0;
}

.ss-add {
    margin: 14px 12px 0 5px !important;
    font-weight: 400;
}

.ss-multi-selected, .ss-single-selected {
    min-height: 40px !important;
    font-weight: 400;
    border: 1px solid #c4cdd5;
    color: #212b36;
}

.ss-open {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
