
.import_msg {
    display: table;
    width: 100%;
    display: flex;
    box-sizing: border-box;

    position: relative;
    overflow: hidden;
    color: white;
    background-color: #263238;
    border-radius: 4px;

    margin-bottom: 1em;
}

.import_msg--close {
    display: none;
}

    .import_msg-image {
        display: table-cell;
        vertical-align: middle;

        padding: 25px 0 25px 0;

        min-width: 60px;
        text-align: center;
        font-size: 2em;
        background-color: #d50000;
    }

    .import_msg-body {
        display: flex;
        box-sizing: border-box;
        vertical-align: middle;
        /* text-align: center; */

        width: 100%;
        padding-right: 3.5em;
        padding-left: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
        background: white;

        border: 1px solid #d50000;
        color: #263238;
    }

        .import_msg-body-title {
            display: flex;
            box-sizing: border-box;
            font-weight: bold;
            margin-bottom: 1.3em;
            font-size: .9em;
            text-align: center;
        }

        .import_msg-body-content {
            display: flex;
            box-sizing: border-box;
            margin-bottom: 1em;
        }

            .import_msg-body-line {
                font-size: .8em;
                margin-bottom: .5em;
            }

            .import_table_errors {
                font-size: .7em;
                width: 100%;
                border-collapse: collapse;
            }

            .import_table_errors td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }            

        .import_msg-close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 29px;
            line-height: 30px;
            font-size: 24px;
            text-align: center;
            color: #d50000;
            /* color: white;
            background: #263238; */
            transition: all 0.25s;
        }


