{% extends "master/out/master_out.html" %}
{% load static %}
{% load widget_tweaks %}
{% load tags_forms %}
{% load tags_feedback %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_password_forgot.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

    <div class="content">
        <form class="card-msg" action="" method="post"> {% csrf_token %}
            <div class="card-msg-icon card-msg-color--orange">
                <i class="far fa-question-circle"></i>
            </div>
            <div class="card-msg-body">
                <div class="card-msg-title">
                    ¿Has olvidado tu contraseña?
                </div>
                <div class="card-msg-subtitle">
                    ¡No te preocupes!, ingresa el email asociada a tu cuenta y recibiras un correo
                    con instrucciones para configurar una nueva contraseña
                </div>

                <div class="card-msg-form">
                    {% tag_messages messages %}
                    {% tag_form_errors form %}

                    {% for error in form.email.errors %}
                    <div class="msg msg--error" id="msg">
                        <div class="msg-image">
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="msg-body">
                            {{error}}
                        </div>
                        <a href="#" class="msg-close" id="msg-btn-close">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                    {% endfor %}

                    <div class="field" id="id_email_group">
                        {% render_field form.email class="card-msg-text-input" %}
                    </div>
                </div>
            </div>
            <div class="card-msg-footer">
                <a href="{% url 'home:login' %}" class="btn btn-default">
                    Ir a Login
                </a>
                <button type="submit" class="btn btn-main" name="save" id="btn-save">
                    Recuperar contraseña
                </button>
            </div>
        </form>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_password_forgot.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}
