{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_forms %}
{% load tags_feedback %}
{% load tags_fields %}

{% block css %}
<link rel="stylesheet" href="{% static 'build/security_companyemail_setting.min.css' %}">
{% endblock css %}

{% block content %}
<form class="content" method="post" enctype="multipart/form-data" > {% csrf_token %}

    <div class="content-header">
        
        <div class="title-main">
            <div class="title-main-icon">
                <i class="fas fa-at"></i>
            </div>
            <div class="title-main-text">
                {% tag_bar_navigation url_list back_text False %}
                {{page_title}}
            </div>
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                {% tag_nav_bar_button _url='security:company-edit' _pk=pk _tag='Empresa' _icon="fas fa-building" _access='EDEM' %}
                {% tag_nav_bar_button _url='security:company-email' _pk=pk _tag='Correo de Empresa' _icon="fas fa-at" _access='CECC' _active=True %}
                {% tag_nav_bar_button _url='security:company-billing' _pk=pk _tag='Facturación' _icon="fas fa-file-invoice" _access='MOFA' %}            
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">
        <div class="content-body__section">
            <div class="card-form">
                <div class="card-form-body">
                    {% tag_form_errors form %}                    
                    {% tag_field_text form.host %}
                    {% tag_field_text form.port %}
                    {% tag_field_text form.username %}
                    {% tag_field_text form.password %}
                    {% tag_field_checkbox form.use_tls %}
                </div>
            </div>
        </div>
        <div class="content-body__aside">
            {% tag_card_aside_audit form.instance %}
        </div>
    </div>

    {% tag_card_form_controls True %}
    
</form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'build/security_companyemail_setting.min.js' %}"></script>
{% endblock scripts %}
