
.bar-main-out {
    background: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: .4rem;
    padding-bottom: .4rem;

    border-bottom: 1px solid $border-color;
    text-align: center;
    color: #fff;

    flex-shrink: 0;
}