.bar-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    // margin-bottom: .8rem;

    &-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        &__item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 3px 0 3px 0;
            align-items: center;
            text-decoration: none;
            margin-right: 1.5rem;
            color: $leyend-color;

            .item-icon {
                font-size: .9rem;
                font-weight: 400;
                margin-right: .2rem;
            }
            .item-text {
                font-weight: 400;
                font-size: 1rem;
            }

            &:hover {

                .item-icon {
                    color: $text-color;
                }
                .item-text {
                    color: $text-color;
                }
            }

            &:visited {
                color: $leyend-color;
            }
        }

    }

    &-right {
        display: flex;
        font-size: 1.2rem;
        font-weight: 500;

        &__prev {
            text-decoration: none;
            color: $leyend-color;
            margin-right: 1rem;

            &:hover {
                i {
                    color: $text-color;
                }
            }

            &:visited {
                color: $leyend-color;
            }
        }

        &__next {
            text-decoration: none;
            color: $leyend-color;

            &:hover {
                i {
                    color: $text-color;
                }
            }

            &:visited {
                color: $leyend-color;
            }
        }
    }
}