
.bar-main-in {
    font-size: 1.5rem;
    height: 3.5rem;
    color: $text-color;
    background-color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    border-bottom: 1px solid $border-color;
}

    .bar-main-in__menu-icon {
        flex-grow: 0;
        cursor: pointer;
        color: $icon-color;
        align-self: center;
        padding: .45rem .45rem .42rem .45rem;
        margin-left: .8rem;
        box-sizing: border-box;
    }
    .bar-main-in__menu-icon--active {
        background-color: $hover-color;
        color: $hover-text;
        border-radius: 4px;
    }
    .bar-main-in__menu-icon:hover {
        background-color: $hover-color;
        color: $hover-text;
        border-radius: 4px;
    }

    .bar-main-in__title {
        flex-grow: 8;
        text-align: center;
        align-self: center;
        
        a {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            text-decoration: none;
            color: $text-color;
            font-weight: 700;

            img {
                height: 2.5rem;
                width: auto;
            }
        }
        a:visited {
            color: $text-color;
        }

        // @include mq($from: landscape) {
        //     // width: 100%;
        //     text-align: center;
        //     // margin-left: 1rem;
        // }

        // @include mq($from: landscape) {
        //     flex-grow: 7;
        // }
    }

    .bar-main-in__user {
        flex-grow: 0;
        cursor: pointer;
        align-self: center;
        padding: .40rem;
        margin-right: .3rem;

        display: flex;
        align-items: center;


        @include mq($from: landscape) {
            flex-grow: 0;
            margin-right: .5rem;
        }

        @include mq($from: desktops) {
            margin-right: 1rem;
            padding: .50rem;
        }

        .user-icon {
            display: flex;
            align-items: center;
            font-size: 2rem;
            color: $icon-color;

            @include mq($from: landscape) {
                margin-right: 5px;
            }

            @include mq($from: desktops) {
                // font-size: 2rem;
            }
        }

        .user-text {
            display: none;

            @include mq($from: landscape) {
                display: inline-block;
                margin-right: 5px;
            }
        }

            .user-text-h1 {
                font-weight: 400;

                @include mq($from: landscape) {
                    display: block;
                    font-size: .8rem;
                    text-overflow: ellipsis;

                    white-space: nowrap;
                    overflow: hidden;

                    max-width: 10rem;
                }

                @include mq($from: desktops) {
                    text-align: center;
                    display: block;
                    margin-bottom: .2rem;
                }
            }
            .user-text-h2 {
                font-weight: 600;

                @include mq($from: landscape) {
                    display: none;
                }

                @include mq($from: desktops) {
                    text-align: center;
                    display: block;
                    font-size: .5rem;
                    max-width: 10rem;
                }
            }

        .user-row {
            display: none;

            @include mq($from: landscape) {
                display: inline-block;
                font-size: .7rem;
                color: $icon-color;
            }

            // @include mq($from: desktops) {
            //     font-size: 1rem;
            // }
        }
    }
    .bar-main-in__user--active {
        color: $hover-text;
        background-color: $hover-color;
        border-radius: 4px;

        .user-icon {
            color: $hover-text;
        }

        .user-row {
            color: $hover-text;
        }
    }

    .bar-main-in__user:hover {
        color: $hover-text;
        background-color: $hover-color;
        border-radius: 4px;

        .user-icon {
            color: $hover-text;
        }

        .user-row {
            color: $hover-text;
        }
    }


