
%btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // min-height: 2.5rem;
    // min-width: 3.6rem;
    margin: 0;
    padding: 0;

    background: #eee;
    border: 1px solid #DCDCDB;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: .25rem;
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    -webkit-tap-highlight-color: transparent;

    .btn-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6rem;
        text-transform: none;
        letter-spacing: normal;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 1px;
        min-height: 1px;
        margin-left: .5rem;
    }
}

.btn-default {
    @extend %btn;

    padding: .3rem 1.3rem;
    box-sizing: border-box;
    height: 2.3rem;
}
.btn-default:focus {
    border-color: #5c6ac4;
    outline: 0;
    box-shadow: 0 0 0 1px #5c6ac4;
}
.btn-default:hover {
    background: #d5d5d5;
    border-color: #cecece;
}
.btn-default:active {
    background: #d5d5d5;
    border-color: #cecece;
    box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99,115,129,.1), inset 0 1px 4px 0 rgba(99,115,129,.2);
}
.btn-default:disabled {
    background: #cecece;
    border-color: #cecece;
    color: #919eab;
    box-shadow: none;
}

.btn-main {
    @extend %btn;

    color: #fff;
    border-color: #3f6ad8;
    background: #3f6ad8;
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;

    padding: .3rem 1.3rem;
    box-sizing: border-box;
    height: 2.3rem;
}
.btn-main:focus {
    border-color: #202e78;
    box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 1px #202e78;
    outline: 0;
}
.btn-main:hover {
    background: #2651be;
    text-decoration: none;
}
.btn-main:active {
    background: #2651be;
    border-color: #244cb3;
    box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22,29,37,.05), 0 0 1px 0 #38469b;
}
.btn-main:disabled {
    background: #bac0e6;
    border-color: #a7aedf;
    color: white;
    box-shadow: none;
}


.btn-cancel {
    @extend %btn;

    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: #fff;
    border-color: #3f4eae;
    background: linear-gradient(180deg,#6371c7,#5563c1);
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;

    padding: .3rem 3.3rem;
    box-sizing: border-box;
    height: 2.3rem;
}
.btn-cancel:focus {
    border-color: #202e78;
    box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 1px #202e78;
    outline: 0;
}
.btn-cancel:hover {
    background: linear-gradient(180deg,#5c6ac4,#4959bd);
    text-decoration: none;
}
.btn-cancel:active {
    background: linear-gradient(180deg,#3f4eae,#3f4eae);
    border-color: #38469b;
    box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22,29,37,.05), 0 0 1px 0 #38469b;
}
.btn-cancel:disabled {
    background: #bac0e6;
    border-color: #a7aedf;
    color: white;
    box-shadow: none;
}


.btn-delete {
    @extend %btn;

    box-shadow: rgb(232, 69, 40) 0px 1px 0px 0px inset;
    color: white;
    background: linear-gradient(rgb(230, 57, 26), rgb(213, 52, 23));
    border-color: rgb(176, 43, 19);
}
.btn-delete:focus {
    box-shadow: rgb(232, 69, 40) 0px 1px 0px 0px inset, rgb(191, 7, 17) 0px 0px 0px 1px;
    border-color: rgb(191, 7, 17);
}
.btn-delete:hover {
    color: white;
    background: linear-gradient(rgb(222, 54, 24), rgb(199, 48, 22));
    border-color: rgb(176, 43, 19);
}
.btn-delete:active {
    box-shadow: rgb(153, 37, 17) 0px 1px 0px 0px inset, rgb(153, 37, 17) 0px 0px 0px 1px;
    background: linear-gradient(rgb(176, 43, 19), rgb(176, 43, 19));
    border-color: rgb(153, 37, 17);
}