
%btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg,#fff,#f9fafb);
  border: 1px solid #c4cdd5;
  box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
  border-radius: 3px;
  line-height: 1;
  color: #212b36;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  transition-property: background,border,box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.64,0,.35,1);
  -webkit-tap-highlight-color: transparent;
}

.button-cards-item-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;
  margin-left: .5rem;
}

.button-cards-item {
  margin: 1rem;
  background: linear-gradient(180deg,#f9fafb,#f4f6f8);;
  border: 1px solid #5c6ac4;
  border-radius: .25rem;
  color: #5c6ac4;
  height: 3rem;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  max-width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;

  // @extend %btn;

  // margin: 1rem;
  // padding: 1.5rem;
  // box-sizing: border-box;
}
.button-cards-item:focus {
  border-color: #5c6ac4;
  outline: 0;
  box-shadow: 0 0 0 1px #5c6ac4;
}
.button-cards-item:hover {
  background: #5c6ac4;
  border-color: #5c6ac4;
  color: #fff;
}
.button-cards-item:active {
  background: linear-gradient(180deg,#f4f6f8,#f4f6f8);
  border-color: #c4cdd5;
  box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99,115,129,.1), inset 0 1px 4px 0 rgba(99,115,129,.2);
}
.button-cards-item:disabled {
  background: #f4f6f8;
  border-color: #c4cdd5;
  color: #919eab;
  box-shadow: none;
}

.buttons-cards-body {
    width: 100%;
    height: auto;
  
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: space-evenly;
  }
      
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
      .buttons-cards-body {
        width: 100%;
        height: auto;
      
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: .5rem;
        justify-content: space-evenly;
        align-content: center;
      }
    }
