/* .card-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    }
 */

 .card-msg {
    background-color: white;
    width: 85%;
    border-radius: 4px;
    border: 1px solid #ccc;

    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    padding-bottom: .5rem;
}

    .card-msg-icon {
        text-align: center;
        padding-top: .1rem;
        font-size: 8rem;
    }

    .card-msg-color--blue {
        color: #288feb;
    }

    .card-msg-color--green {
        color: #98D056;
    }

    .card-msg-color--yellow {
        color: #ffba00;
    }

    .card-msg-color--red {
        color: #ED4F32;
    }

    .card-msg-color--orange {
        color: #ff7200;
    }

    .card-msg-body {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
    }
        .card-msg-title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: .5rem;
            padding: 0 .3rem;
            color: #433f4a;
            box-sizing: border-box;
        }
        .card-msg-subtitle {
            color: rgb(106, 106, 106);
            font-size: 1rem;
            font-weight: 600;
            padding: 0 .5rem;
            box-sizing: border-box;
        }

        .card-msg-form {
            margin-top: 1rem;
            box-sizing: border-box;
            padding: 0 1rem;
            width: 100%;
            display:flex;
            flex-direction: column;

            @include mq($from: tablets) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            .field {
                width: 100%;
                flex: 1 0 auto;
                // padding: 0 .5rem .5rem;
                padding: .5rem;
                box-sizing: border-box;

                @include mq($from: tablets) {
                    width: 45%;
                }

                @include mq($from: hd) {
                    width: 30%;
                }

                @include mq($from: retina) {
                    width: 25%;
                }

                .card-msg-text-input {
                    width: 100%;
                    background: #fff;
                    border-radius: 4px;
                    background-clip: padding-box;
                    border: 1px solid #ccc;
                    color: black;
                    line-height: 1.5;
                    font-size: 20px;
                    outline: 0;
                    padding: .5rem 1rem;
                    box-sizing: border-box;
                    font-weight: 700;
                    resize: vertical;
                    text-align: center;
                    transition: box-shadow .1s ease-in,border .1s ease-in;
                    box-shadow: inset 0 1px 3px #ddd;
                }
                .card-msg-text-input:focus {
                    border-color: $brand-color1;
                }
            }
        }

    .card-msg-footer {
        text-align: center;
        padding: 1rem 0 .5rem 0;
    }

@media (min-width: 768px) {

    .card-msg {
        width: 80%;
    }

        .card-msg-icon {
            padding-top: .2rem;
            font-size: 11rem;
        }

        .card-msg-body {

        }
            .card-msg-title {
                font-size: 2.2rem;
                margin-bottom: .5rem;
            }
            .card-msg-subtitle {
                font-size: 1.3rem;
                padding: 0 1.5rem;
            }

        .card-msg-footer {
            text-align: center;
            padding: 1rem 0 1rem 0;
        }

}
