.card-info {
    border-top: 1px solid $border-color;

    margin-bottom: 1rem;
    // padding: .5rem;
    // box-sizing: border-box;
}

    .card-info-header {
        padding: 1rem 0 .6rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        @include h3text;
    }

    .card-info-body {
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        box-shadow: $card-shadow;
        border-radius: 3px;

        &__items {
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            justify-content: space-around;

            .item {
                width: 95%;
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                margin-right: 1rem;
                align-items: baseline;

                flex: 1 0 auto;

                @include mq($from: tablets) {
                    width: 45%;
                }

                @include mq($from: laptops) {
                    width: 30%;
                }

                // @include mq($from: desktops) {
                //     width: 20%;
                // }

                &--x1 {
                    width: 20%;
                }

                &--x2 {
                    width: 40%;
                }

                &--x3 {
                    width: 60%;
                }

                &--x4 {
                    width: 95%;
                }

                &-label {
                    @include l1text;

                    word-break: break-all;
                    word-break: break-word;
                    margin-bottom: 0.3rem;
                }

                &-data {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;

                    .data-icon {
                        color: $icon-color;
                        font-size: .8rem;
                        margin-right: .4rem;
                    }

                    .data-value {
                        @include n1text;

                        width: 100%;
                        word-break: break-all;
                        word-break: break-word;
                    }
                }

                &-currency {
                    .data-icon {
                        color: $icon-color;
                        font-size: .8rem;
                        margin-right: .4rem;
                    }

                    .data-value {
                        @include n1text;

                        width: 100%;
                        word-break: break-all;
                        word-break: break-word;
                    }
                }

                &-number {
                    .data-icon {
                        color: $icon-color;
                        font-size: .8rem;
                        margin-right: .4rem;
                    }

                    .data-value {
                        @include n1text;

                        width: 100%;
                        word-break: break-all;
                        word-break: break-word;
                    }
                }
            }
        }
    }
