
%btn-a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: .25rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    -webkit-tap-highlight-color: transparent;

    .btn-a-text {
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.6rem;
        text-transform: none;
        letter-spacing: normal;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 1px;
        min-height: 1px;
        margin-left: .5rem;
    }
}

.card {
    width: 100%;
    border-top: 1px solid $border-color;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    &:last-child {
        border-bottom: 1px solid $border-color;
        margin-bottom: 1em;
    }

    @include mq($from: landscape) {
        flex-direction: row;
    }

    .card-header {
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;

        @include mq($from: landscape) {
            width: 18%;
            flex-direction: column;
            justify-content: space-around;
        }

        .card-header-item {

            @include mq($from: landscape) {
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .item-label {
                display: none;
            }
            .item-data {
                font-size: .9em;

                .data-value {
                    display: flex;
                    align-items: baseline;

                    .icon {
                        margin-right: .3em;
                        font-size: .8em;
                    }
                }
            }

            &:first-child {
                font-weight: 700;
            }
        }
    }

    .card-body {
        height: auto;
        background: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex: 1 0 auto;
        word-wrap: break-word;

        @include mq($from: landscape) {
            flex-direction: row;
            flex-wrap: nowrap;
            width: 82%;
        }

        .card-body-items {
            padding: .5em .5em .0em .5em;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            justify-content: space-between;

            @include mq($from: landscape) {
                width: 80%;
                border-left: 1px solid #d4d9dd;
                flex: 1;
            }

            .card-body-item {
                display: flex;
                flex-direction: column;
                padding-bottom: .5em;
                align-items: baseline;
                width: 45%;

                @include mq($from: desktops) {
                    width: 30%;
                }

                @include mq($from: hd) {
                    width: 20%;
                }

                .item-label {
                    color: $leyend-color;
                    font-size: .8em;
                    font-weight: 300;
                    width: 100%;
                    word-break: break-all;
                    word-break: break-word;
                    margin-bottom: 0.1em;
                }

                .item-data {
                    color: $text-color;
                    font-weight: 400;
                    width: 100%;
                    word-break: break-all;
                    word-break: break-word;

                    .data-value {
                        display: flex;
                        align-items: baseline;

                        .icon {
                            margin-right: .3em;
                            font-size: .8em;
                            color: $icon-color;
                        }
                    }
                }

                .item-number {
                    color: $text-color;
                    font-weight: 400;
                    width: 100%;
                    word-break: break-all;
                    word-break: break-word;

                    .data-value {
                        display: flex;
                        align-items: baseline;

                        .icon {
                            margin-right: .3em;
                            font-size: .8em;
                            color: $icon-color;
                        }
                    }
                }

                .item-currency {
                    color: $text-color;
                    font-weight: 400;
                    width: 100%;
                    word-break: break-all;
                    word-break: break-word;

                    .data-value {
                        display: flex;
                        align-items: baseline;
                        // justify-content: space-between;

                        // .icon {
                        //     margin-right: .3em;
                        //     font-size: .8em;
                        //     color: $icon-color;
                        // }

                        .data-value-simbol {
                            font-weight: 500;
                            color: $icon-color;
                            margin-right: .3em;
                        }
                    }
                }
            }
            .card-body-item--x2 {
                width: 100%;

                @include mq($from: desktops) {
                    width: 45%;
                }

                @include mq($from: hd) {
                    width: 45%;
                }
            }
            .card-body-item--x3 {
                width: 100%;

                @include mq($from: hd) {
                    width: 60%;
                }
            }
            .card-body-item--x4 {
                width: 100%;
            }

        }

        .card-body-actions {
            background: #ffffff;

            text-align: center;
            padding-bottom: 1em;

            display: flex;
            justify-content: space-around;

            @include mq($from: landscape) {
                box-sizing: border-box;
                width: 20%;
                padding-bottom: 0;
                flex-direction: column;
                justify-content: space-around;
                border-left: 1px solid #d4d9dd;
            }

            .card-body-actions-item {
                width: 50%;

                @include mq($from: landscape) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }

                .btn-action {
                    @extend %btn-a;
                    color: #3f6ad8;
                    border: 1px solid #3f6ad8;
                    background: #fff;
                    padding: .5rem .8rem;

                    &:visited {                    
                        color: #3f6ad8;
                    }

                    &:hover {
                        color: #fff;
                        background: #3f6ad8;
                        transition: all .2s;
                    }

                    @include mq($from: landscape) {
                        font-size: .8rem;
                        padding: .7rem .8rem;
                    }

                    .btn-a-text {

                        @include mq($from: landscape) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
