.card-image {
    background-color: #fff;
    box-shadow: $card-shadow;

    padding: .5rem;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 1rem;

    @include mq($from: tablets) {
        width: 48%;
    }

    @include mq($from: laptops) {
        width: 100%;
    }

    .card-image-header {
        @include h3text;

        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .title {
            font-size: 1em;
            font-weight: 600;
            margin-right: .3em;
        }

        .optional {
            color: $leyend-color;
            font-size: .9em;
        }

    }

    .card-image-body {
        border-top: 0;

        padding: 0 .5rem .5rem;
        box-sizing: border-box;
        min-height: 47px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .card-image-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: .5rem;

        .footer-info {
            display: none;
        }

        .footer-btn {
            @extend %btn;

            padding: .3rem 1.3rem;
            box-sizing: border-box;
            height: 2.3rem;
        }
        .footer-btn:focus {
            border-color: #5c6ac4;
            outline: 0;
            box-shadow: 0 0 0 1px #5c6ac4;
        }
        .footer-btn:hover {
            background: linear-gradient(180deg,#f9fafb,#f4f6f8);
            border-color: #c4cdd5;
        }
        .footer-btn:active {
            background: linear-gradient(180deg,#f4f6f8,#f4f6f8);
            border-color: #c4cdd5;
            box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99,115,129,.1), inset 0 1px 4px 0 rgba(99,115,129,.2);
        }

    }
}