.card-aside-image {
    background-color: #fff;
    box-shadow: $card-shadow;

    padding: .2rem;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 1rem;

    @include mq($from: tablets) {
        width: 48%;
    }

    @include mq($from: laptops) {
        width: 100%;
    }

    .card-aside-image-body {
        border-top: 0;

        box-sizing: border-box;
        min-height: 47px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}

