
.card-options {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: $card-shadow;

    padding: .1rem .5rem;
    box-sizing: border-box;

    &__list {
        padding: .5rem 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        .list-option {
            padding: 1rem;
            box-sizing: border-box;

            width: 100%;
            text-decoration: none;
            color: $leyend-color;

            display: flex;
            // flex: 1;

            @include mq($from: tablets) {
                width: 45%;
            }

            @include mq($from: desktops) {
                width: 30%;
            }

            &:hover {
                background-color: $hover-color;
                color: $hover-text;
                border-radius: 4px;
            }
            &:visited {
                color: $leyend-color;
            }

            &__icon {
                margin-right: 1rem;

                display: flex;
                flex-direction: column;
                padding: .4rem 0;
                box-sizing: border-box;

                span {
                    padding: .5rem .5rem;
                    box-sizing: border-box;
                    background-color: $hover-color;
                    border-radius: 3px;
                }
            }
            &__body {
                display: flex;
                flex-direction: column;

                .body_title {
                    color: $brand-color1;
                    font-size: .9rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                }
                .body_text {
                    font-size: .9rem;
                    font-weight: 400;
                }
            }
        }
    }
}
