.card-aside {
    background-color: #fff;
    box-shadow: $card-shadow;

    padding: .5rem;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 1rem;

    @include mq($from: tablets) {
        width: 48%;
    }

    @include mq($from: laptops) {
        width: 100%;
    }

    .card-aside-header {
        @include h3text;
        text-transform: uppercase;
        color: rgba(13,27,62,0.7);
        font-weight: bold;

        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .card-aside-body {
        border-top: 0;

        padding: 1rem;
        box-sizing: border-box;
        min-height: 47px;

        display: flex;
        flex-direction: column;
        justify-content: center;


        .card-aside-body-empty {
            text-align: center;
            font-weight: 700;
            font-size: 1.2rem;
        }

        .card-aside-body-item {
            margin-bottom: 1rem;

            display: flex;
            flex-direction: column;
            align-items: baseline;
            box-sizing: border-box;

            width: 100%;

            .item-label {
                width: 30%;

                text-align: left;
                margin-right: 5px;
                width: 100%;
                margin-bottom: 5px;

                @include l1text;
            }

            .item-data {
                color: #4f4f4f;

                font-size: 1rem;
                font-weight: 700;

                display: flex;
                flex-direction: row;
                align-items: baseline;

                .data-icon {
                    color: $icon-color;
                    margin-right: .5rem;
                    font-size: .9rem;
                }

                .data-value {
                    color: $text-color;
                    font-size: .9rem;
                    text-overflow: ellipsis;

                    /* Required for text-overflow to do anything */
                    white-space: nowrap;
                    overflow: hidden;

                    a {
                        text-decoration: none;
                        color: $brand-color1 !important;
                    }
                    a:visited {
                        color: $brand-color1 !important;
                    }
                }
            }
        }

        .card-aside-body-currency {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 0 2rem;

            .currency-simbol {
                color: $icon-color;
                font-size: .8rem;
                font-weight: 600;
            }

            .currency-data {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .card-aside-body-footer {
            text-align: center;
        }

        .card-aside-body-leyend {
            display: flex;
            justify-content: center;
            // text-align: center;
            margin-bottom: 1rem;

            .leyend-data {
                display: flex;

                .icon {
                    margin-right: .5rem;
                    font-size: .9rem;
                }

                .text {
                    font-size: 1rem;
                    font-weight: 500;
                    text-overflow: ellipsis;

                    /* Required for text-overflow to do anything */
                    white-space: nowrap;
                    overflow: hidden;

                    a {
                        text-decoration: none;
                        color: $brand-color1 !important;
                    }
                    a:visited {
                        color: $brand-color1 !important;
                    }
                }
            }
        }

        .green {
            color: $green-color;
        }

        .red {
            color: $red-color;
        }
    }

    .card-aside-actions {
        border-top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex: 1 0 auto;


        .card-aside-actions-item {
            font-size: 1rem;
            color: #4f4f4f;
            height: 100%;
            width: 100%;
            text-align: center;
            text-decoration: None;

            display: flex;
            align-items: center;
            justify-content: center;

            padding-top: 1rem;
            padding-bottom: 1rem;

            &:last-child {
                border-bottom: 0;

                .item-icon {
                    margin-right: .5rem;
                }

                .item-value {
                    font-weight: 700;
                }
            }
        }
    }

}

