

.card-list {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: $card-shadow;

    border-radius: 3px;
    width: 100%;

    &__header {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .header__tabs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid $border-color;
            width: 100%;

            .tabs-list {
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-evenly;
                margin: 0;
                padding: 0;

                &-action {
                    margin-right: 1rem;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                    flex-basis: 20%;

                    a {
                        text-decoration: none;
                        width: 100%;
                        text-align: center;
                        color: $text-color;
                        padding: 1rem 0;
                        box-sizing: border-box;
                        line-height: 1;
                        display: block;
                    }

                    .active {
                        border-bottom: 3.5px solid #3f6ad8;
                    }
                    &:first-child {
                        margin-left: 1rem;
                    }
                }
            }

            @include mq($from: tablets) {
                width: 50%;
            }
        }

        .header__search {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;

            padding: .5rem;
            box-sizing: border-box;

            @include mq($from: tablets) {
                width: 50%;
            }
        }
    }
}