

.card-simple {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: $card-shadow;

    padding: .5rem;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;

    &__header {
        .header_img {
            padding: 2.5rem 0 1rem;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-content: center;

            img {
                height: 8rem;
                width: auto;
            }
        }

        .header_text {
            text-align: center;
            @include h2text;

            line-height: 1.5rem;
            padding: 0 .5rem;
        }
    }

    &__body {

        .body__text {
            text-align: center;
            @include n1text;
            margin-bottom: 1.8rem;
            padding: 0 .5rem;

            p {
                margin: .4rem;
            }
        }

        .body__cotrols {
            display: flex;
            justify-content: center;
            padding-bottom: 2rem;
        }
    }
}