.card-form {
    margin-bottom: 1rem;

    background-color: #fff;
    box-shadow: $card-shadow;

    padding: .5rem;
    box-sizing: border-box;
    border-radius: 3px;

    .card-form-header {
        padding: 0 1rem .3rem .5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        @include h2text;
        border-bottom: 1px solid rgba(26,54,126,0.125);
        text-transform: uppercase;
        color: rgba(13,27,62,0.7);
        font-weight: bold;
    }
    
    form-header-fields{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        @include mq($from: tablets) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .field {
            width: 100%;
            flex: 1 0 auto;
            // padding: 0 .5rem .5rem;
            padding: .5rem;
            box-sizing: border-box;

            @include mq($from: tablets) {
                width: 45%;
            }

            @include mq($from: hd) {
                width: 30%;
            }

            @include mq($from: retina) {
                width: 25%;
            }
        }

        .field--x1 {
            @include mq($from: tablets) {
                width: 45%;
            }

            @include mq($from: hd) {
                width: 30%;
            }

            @include mq($from: retina) {
                width: 25%;
            }
        }

        .field--x2 {
            @include mq($from: hd) {
                width: 45%;
            }

        }

        .field--x3 {
            width: 100%;

            @include mq($from: retina) {
                width: 60%;
            }
        }

        .field--x4 {
            width: 100%;
        }
    }

    .card-form-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        @include mq($from: tablets) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .field {
            width: 100%;
            flex: 1 0 auto;
            // padding: 0 .5rem .5rem;
            padding: .5rem;
            box-sizing: border-box;

            @include mq($from: tablets) {
                width: 45%;
            }

            @include mq($from: hd) {
                width: 30%;
            }

            @include mq($from: retina) {
                width: 25%;
            }
        }

        .field--x1 {
            @include mq($from: tablets) {
                width: 45%;
            }

            @include mq($from: hd) {
                width: 30%;
            }

            @include mq($from: retina) {
                width: 25%;
            }
        }

        .field--x2 {
            @include mq($from: hd) {
                width: 45%;
            }

        }

        .field--x3 {
            width: 100%;

            @include mq($from: retina) {
                width: 60%;
            }
        }

        .field--x4 {
            width: 100%;
        }
    }
}