
.body-chart-cards {
    width: 95%;
    height: auto;
  
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
  }
    .body-chart-header-filters {
      width: 95%;
    }
    .chart-card-section {
        width: 100%;
        height: 60%;
        padding: .5em;
        margin-bottom: .5em;
        background-color: #ffffff;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 3px;
  
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  
        .chart-card-title {
          width: 100%;
          text-align: center;
          height: 1.5rem;
        }

        .chart-filter-body {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .chart-filter-header {
          width: 100%;
        }
        .chart-filter-select {
          min-width: 33%;
          flex-grow: 1;
        }
        .chart-filter-date {
          min-width: 33%;
          flex-grow: 1;
        }

        .chart-card {
          width: 100%;
          min-height: 200px;
        }

        .chart-card-empty {
          padding-left: 1rem;
          padding-right: 1rem;

          .chart-card-result {
            padding: .5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .chart-result-text{
              font-size: 1.5em;
              color: rgb(58, 58, 58);
            }
            .chart-result-number{
              font-size: 1.5em;
              color: gray;
            }
          }
        }
        .separator {
          border-top: 2px rgb(58, 58, 58) solid;
          padding-top: 4px;
          margin-top: 4px;
        }
      
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 772px) {
        .body-chart-cards {
          flex-direction: row;
          justify-content: space-evenly;
        }
        .chart-card-section {
          width: 45%;
          height: 50%;
        }
      }
