.checkbox {
    width: 100%;
    display: flex;
    flex-direction: column;

    height: 3rem;
}

    .checkbox-label {
        display: block;
        text-align: left;
        font-size: .9rem;
        font-weight: 400;
        color: $text-color;
        margin-bottom: .5rem;
    }
    .checkbox-label--error {
        color: $error-color;
        font-weight: 500;
    }

        .checkbox-label-optional {
            color: $leyend-color;
            font-size: .8rem;
            font-weight: 400;
        }

    .checkbox-input {
        opacity: 0;
        position: absolute;
    }
    .checkbox-new {
        position: relative;
    }
    .checkbox-new::before {
        position: absolute;
        content: "";
        display: inline-block;

        height: 16px;
        width: 16px;

        top: 3px;
        border: 1px solid $border-boxes;
        background: linear-gradient(to bottom, white, #f9fafb);
        box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
        border-radius: 3px;
    }
    .checkbox-new::after {
        position: absolute;
        content: "";
        display: inline-block;
        height: 6px;
        width: 9px;
        border-left: 2px solid;
        border-bottom: 2px solid;

        transform: rotate(-45deg);
        left: 4px;
        top: 7px;

        border-color: $brand-color1;
    }

    .checkbox-input + .checkbox-new::after {
        content: none;
    }

    .checkbox-input:focus + .checkbox-new::before {
        border-color: $brand-color1;
    }

    /*Unhide the checkmark on the checked state*/
    .checkbox-input:checked + .checkbox-new::before {
        border-color: $brand-color1;
    }
    .checkbox-input:checked + .checkbox-new::after {
        content: "";
    }

    .checkbox-input--error {
        border: 1px solid #cb4e4e;
    }

    .checkbox-errors {
        margin-top: 3px;
        background-color: $error-color;
        border-radius: 4px;
    }
        .checkbox-errors-list {
            color: white;
            font-size: .8rem;
            list-style-type: none;
            font-weight: 500;
        }

    .checkbox-help {
        margin-top: 5px;
        color: $leyend-color;
        font-size: .9rem;
        text-align: left;
    }

        .checkbox-help ul {
            padding-left: 2rem;
        }

