.textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: 1.2rem;
}

    .textarea-label {
        display: block;
        text-align: left;
        font-size: .9rem;
        font-weight: 400;
        color: $text-color;
    }
    .textarea-label--error {
        color: $error-color;
        font-weight: 500;
    }

        .textarea-label-optional {
            color: $leyend-color;
            font-size: .8rem;
            font-weight: 400;
        }

    .textarea-input {
        background-color: #ffffff;
        background-clip: padding-box;

        border-radius: 4px;
        border: 1px solid $border-field-color;

        font-weight: 400;
        color: $text-color;
        line-height: 1.5;

        resize: vertical;

        transition-property: background, border, -webkit-box-shadow;
        transition-property: background, border, box-shadow;
        transition-property: background, border, box-shadow, -webkit-box-shadow;
        transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
        transition-duration: 200ms;
        box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);

        outline: 0;
        padding: 10px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        margin: 8px 0 0 0;
        width: 100%;
        height: 8rem;
    }
    .textarea-input:focus {
        border: 1px solid $brand-color1;
        box-shadow: 0 0 0 1px $brand-color1;
    }
    .textarea-input--error {
        border: 1px solid $error-color;
    }

    .textarea-errors {
        margin-top: 3px;
        background-color: $error-color;
        border-radius: 4px;
    }
        .textarea-errors-list {
            padding-left: 1rem;
            color: white;
            font-size: .8rem;
            list-style-type: none;
            font-weight: 500;
        }

    .textarea-help {
        margin-top: 5px;
        color: $leyend-color;
        font-size: .8rem;
        text-align: left;
    }

        .textarea-help ul {
            padding-left: 2rem;
        }

