.filters-values {
    width: 100%;
    text-emphasis: left;

    display: flex;
    
    .filters-values-str {
        margin-top: 5px;
        padding: .4rem;
        box-sizing: border-box;

        font-size: .8rem;
        color: $text-color;
        background: $hover-color;

        margin-right: .5rem;
    }
}