.select {
    width: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: 1.2rem;
}

    .select-label {
        display: block;
        text-align: left;
        font-size: .9rem;
        font-weight: 400;
        color: $text-color;
    }

    .select-input {
        background-color: #ffffff;
        background-clip: padding-box;

        border-radius: 4px;
        // border: 1px solid $border-field-color;

        font-weight: 400;
        color: $text-color;
        line-height: 1.5;

        resize: vertical;

        transition-property: background, border, -webkit-box-shadow;
        transition-property: background, border, box-shadow;
        transition-property: background, border, box-shadow, -webkit-box-shadow;
        transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
        transition-duration: 200ms;

        outline: 0;
        // padding: 10px 10px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        margin: 8px 0 0 0;
        width: 100%;
        height: 40px;
    }

    .select-input:focus {
        border: 1px solid $brand-color1;
        box-shadow: 0 0 0 1px $brand-color1;
    }

