
.menu-user {
    position: absolute;
    border-radius: 4px;
    display: block;
    width: 15rem;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    right: .5rem;
    top: 3.6rem;
    z-index: 2;

    @include mq($from: landscape) {
        // width: 11rem;
        // right: .5rem;
        // font-size: 1rem;
    }

    @include mq($from: tablets) {
        // width: 11.2rem;
        // right: 6.8rem;
    }

    @include mq($from: desktops) {
        // width: 12.8rem;
        // right: 7.6rem;
    }
    .menu-user__options {
        border-bottom: 1px solid $border-color;

        .optionlist {
            padding: 0.5rem 0;
            box-sizing: border-box;
            margin: 0;
            list-style-type: none;

            .optionlist__item {

                .item-action {
                    padding: 0.4rem 1.4rem;
                    box-sizing: border-box;
                    display: block;
                    text-decoration: none;
                }
                .item-action:hover {
                    background-color: $hover-color;
                    color: $hover-text;
                }
                .item-action i {
                    color: $icon-color;
                    font-size: 1rem;
                    margin-right: .5rem;
                }
                .item-action span {
                    color: $text-color;
                    font-size: .9rem;
                    font-weight: 400;
                }
                .item-action:visited {
                    color: $text-color;
                }
            }
        }
    }
    .menu-user__options:last-child {
        border-bottom: none;
    }

}
.menu-user--close {
    display: none;
}
