
.menu-main {
    position: absolute;
    background-color: #fff;
    overflow: scroll;

    z-index: 2;
    display: none;
    top: 3.5rem;

    // @include mq($from: tablets) {
    //     width: 17rem;
    //     display: flex;
    //     position: relative;

    //     border-right: 1px solid $border-color;
    // }

    .menu-main__header {
        box-sizing: border-box;
        height: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem .5rem .5rem;
        background-color: #fff;

        border: 1px solid $border-color;
        border-right: none;

        .header__logo {
            font-size: 1.5rem;
            font-weight: 600;
            color: $text-color;
            text-decoration: none;

            img {
                height: 2rem;
                width: auto;
            }
        }

        .close-btn {
            text-decoration: none;
            color: $icon-color;
            font-size: 1.5rem;
            font-weight: 600;
        }
        .close-btn:visited {
            color: $icon-color;
        }

        // @include mq($from: tablets) {
        //     display: none;
        // }
    }

    ul {
        padding: .5rem 0;
        box-sizing: border-box;
        margin: 0;
        width: 100%;

        .menu-main__item {
            list-style: none;

            .item-link {
                display: block;
                padding: .8rem;
                font-weight: 600;
                font-size: .9rem;
                color: rgb(50, 50, 50);
                text-decoration: none;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                .item-link-1i {                
                    font-size: 1rem;
                    margin-right: .5rem;
                    width: 1.3rem;
                    text-align: right;
                    display: inline-block;
                }

                .item-link-2i {
                    margin-left: auto;
                }
            }

            .item-link:hover {
                background-color: $hover-color;
                color: $hover-text;

                .item-link-1i {
                    color: $hover-text;
                }

                .item-link-2i {
                    color: $hover-text;
                }
            }

            .item-menu {
                padding: 0;
                margin: 0;
                background: #fff;

                .item-menu-opt {
                    list-style: none;
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

                    .item-menu-opt-link {
                        text-decoration: none;
                        display: block;
                        padding: .5rem .5rem .5rem 1.5rem;
                        color: #000;
                        font-weight: 400;
                        font-size: .87rem;

                        .item-menu-opt-link-1i {
                            color: $icon-color;
                            width: 1rem;
                            display: inline-block;
                            text-align: right;
                            margin-right: .4rem;
                        }
                    }
                    .item-menu-opt-link:hover {
                        background-color: $hover-color;
                        color: $hover-text;

                        .item-menu-opt-link-1i {
                            color: $hover-text;
                        }
                    }
                }

            }
            .item-menu--close {
                display: none;
            }
        }
    }
}
.menu-main--open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16rem;
    -webkit-box-shadow: 0px 0px 24px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -13px rgba(0,0,0,0.75);
}
.menu-main--close {
    display: none;
}
.menu-main--hide-body {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


