
.msg {
    display: table;
    width: 100%;

    position: relative;
    overflow: hidden;
    color: white;
    background-color: #263238;
    border-radius: 4px;

    margin-bottom: 1rem;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);


    .msg-image {
        display: table-cell;
        vertical-align: middle;

        padding: 1rem 0 1rem 0;

        min-width: 60px;
        text-align: center;
        font-size: 2rem;
    }

    .msg-body {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;

        width: 100%;
        padding-right: 3.2rem;
        padding-left: .5rem;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .msg-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 29px;
        line-height: 30px;
        font-size: 24px;
        text-align: center;
        color: white;
        transition: all 0.25s;
    }
}

.msg--close {
    display: none;
}

.msg--success {
    background-color: $green-color;
}

.msg--warning {
    background-color: $yellow-color;
}

.msg--error {
    background-color: $red-color;
}

.msg--info {
    background-color: $blue-color;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .msg-body {
        font-size: 1rem;
    }

}

@media (min-width: 768px) {
    .msg-body {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .msg-body {
        font-size: 1.1rem;
    }
}

