
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 1rem;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    overflow-y: auto;
}

.modal--show {
    display: flex;
    justify-content: center;
}

.modal--hide-body {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

    .modal-wrap {
        position: relative;

        margin: 0;
        padding: 0;

        width: 95%;
        height: 96%;
        display: flex;
        flex-direction: column;
    }

        .modal-header {
            background-color: $brand-color1;
            color: white;
            width: 100%;
            height: 1.3rem;
            box-sizing: border-box;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2em .5em 1.2em .5em;

            border-radius: 4px 4px 0 0;
        }

            .modal-header-title {
                font-size: 1.5rem;
            }

            .modal-header-icon {
                font-size: 1.4rem;
            }

            .modal-header-icon a {
                color: white;
            }

            .modal-header-icon:hover,
            .modal-header-icon:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-body {
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

            border-radius: 0 0 4px 4px;
            width: 100%;
            z-index: 2;

            padding: 1rem;
            box-sizing: border-box;
        }

            .modal-body-header {
                font-size: 1.5em;
                // color: #626262;
                text-align: center;
                font-weight: 700;
                margin-bottom: .8rem;
                margin-top: .1rem;
            }

            .modal-body-items {
                box-sizing: border-box;

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                z-index: 2;

                .field {
                    width: 100%;
                    flex: 1 0 auto;
                    padding: .5rem;
                    box-sizing: border-box;

                    @include mq($from: tablets) {
                        width: 45%;
                    }

                    @include mq($from: hd) {
                        width: 30%;
                    }

                    @include mq($from: retina) {
                        width: 20%;
                    }
                }
            }

            .modal-body-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 1rem 1rem 1rem;
            }


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
