
.pages-bar {
    margin: 0;
    padding: 0;
}

    .pages-bar-pages {
        text-align: center;
        margin-bottom: 1rem;
    }

        .pages-bar-page-start {
            padding: .4rem;
            border: 1px solid $brand-color1;
            border-radius: 4px;
            background-color: $brand-color1;
            color: white;
            text-decoration: none;
            margin-right: .1rem;
        }

        .pages-bar-page-previous {
            padding: .4rem;
            border: 1px solid $brand-color1;
            border-radius: 4px;
            background-color: $brand-color1;
            color: white;
            text-decoration: none;
            margin-right: .1rem;
        }

        .pages-bar-page-current {
            padding: .4rem;
            color: $leyend-color;
            margin-right: .1rem;
        }

        .pages-bar-page-next {
            padding: .4rem;
            border: 1px solid $brand-color1;
            border-radius: 4px;
            background-color: $brand-color1;
            color: white;
            text-decoration: none;
            margin-right: .1rem;
        }

        .pages-bar-page-last {
            padding: .4rem;
            border: 1px solid $brand-color1;
            border-radius: 4px;
            background-color: $brand-color1;
            color: white;
            text-decoration: none;
        }

    .pages-bar-filtered {
        display: none;
    }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .pages-bar-pages {
        margin-top: 1rem;
    }
}