.popup-alert {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 1em;
    box-sizing: border-box;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    overflow-y: auto;
    z-index: 9999;

    .popup-alert-wrap {
        position: relative;

        margin: 0;
        padding: 0;

        width: 95%;
        height: 96%;
        display: flex;
        flex-direction: column;


        justify-content: center;
        align-items: center;


        .popup-alert-header {

            background-color: white;
            width: 100%;
            box-sizing: border-box;

            padding: .5em;
            box-sizing: border-box;
            border-radius: 4px 4px 0 0;

            text-align: right;

            .popup-alert-header-icon {
                text-decoration: none;
                color: #646464;
                cursor: pointer;
                font-size: 1.4em;
            }
            .popup-alert-header-icon:visited {
                color: #646464;
            }
        }

        .popup-alert-body {
            background-color: white;

            border-radius: 0 0 4px 4px;
            width: 100%;
            z-index: 2;

            padding: 1em;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .popup-alert-body-icon {
                font-size: 6em;
            }

            .success {
                color: $green-color;
            }

            .warning {
                color: $yellow-color;
            }

            .error {
                color: $red-color;
            }

            .popup-alert-body-text {
                font-size: 2em;
                color: #585858;
                text-align: center;
            }

            .popup-alert-body-controls {
                width: 100%;
                background-color: white;

                display: flex;
                flex-direction: row;
                justify-content: center;

                padding: .5em .5em 1em;
                box-sizing: border-box;
            }
        }
    }
}

.popup-alert--show {
    display: flex;
    justify-content: center;
}

.popup-alert--hide-body {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
