
%btn-search {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: .4rem .9rem;
    background: linear-gradient(180deg, #fff, #f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    -webkit-tap-highlight-color: transparent;
}

.search {
    display: flex;
    // margin-top: .5rem;

    flex-direction: column;
    // margin-bottom: 1rem;
    width: 100%;

    @include mq($from: landscape) {
        flex-direction: row-reverse;
        justify-content: space-between;

        margin-top: 0;
        margin-bottom: 0;
    }

    // @include mq($from: tablets) {
    //     flex-direction: column;
    //     justify-content: initial;
    //     margin-top: .5rem;
    // }

    .search-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;

        // margin-bottom: .5rem;
        // justify-content: center;

        // @include mq($from: landscape) {
        //     justify-content: flex-end;
        // }

        // @include mq($from: tablets) {
        //     justify-content: flex-end;
        // }

        .search-bar__btn-filters {
            @extend %btn-search;

            border-radius: 3px 0 0 3px;

            .btn-filters-icon {
                color: $icon-color;
                font-size: .8rem;
            }

            .btn-filters-text {
                font-size: .9rem;
                font-weight: 400;
                line-height: 1.2rem;
                text-transform: none;
                letter-spacing: normal;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 1px;
                min-height: 1px;
                margin-left: .5rem;
            }

            &:focus {
                border-color: #5c6ac4;
                outline: 0;
                box-shadow: 0 0 0 1px #5c6ac4;
            }
            &:hover {
                background: linear-gradient(180deg,#f9fafb,#f4f6f8);
                border-color: #c4cdd5;
            }
            &:active {
                background: linear-gradient(180deg,#f4f6f8,#f4f6f8);
                border-color: #c4cdd5;
                box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99,115,129,.1), inset 0 1px 4px 0 rgba(99,115,129,.2);
            }
        }

        .search-bar__input {
            display: flex;
            border: 1px solid #ccc;
            border-left: 0;
            border-right: 0;
            width: 100%;

            .search-bar__input-icon {
                display: flex;
                align-items: center;

                padding: 0 8px;
                box-sizing: border-box;
                font-size: .8rem;
                color: $icon-color;
            }

            input {
                border: 0;
                color: $text-color;
                width: 100%;
            }
            input:active {
                outline: 0;
            }
            input:focus {
                outline: 0;
            }
            input::placeholder {
                color: $leyend-color;
                font-size: .8rem;
            }
        }

        .search-bar__btn-search {
            @extend %btn-search;

            border-radius: 0 3px 3px 0;
            font-size: .9rem;
            font-weight: 400;
            background: linear-gradient(180deg,#6371c7,#5563c1);
            box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;

            color: #fff;
            border-color: #3f6ad8;
            background: #3f6ad8;

            &:focus {
                border-color: #202e78;
                box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 1px #202e78;
                outline: 0;
            }
            &:hover {
                background: #2651be;
                text-decoration: none;
            }
            &:active {
                background: #2651be;
                border-color: #244cb3;
                box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22,29,37,.05), 0 0 1px 0 #38469b;
            }
        }
    }
}





