
.title-main {
    display: flex;
    color: $text-color;
    font-weight: 400;
    font-size: 1.6rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.45);
    padding: 1.5rem;
    width: 100%;
    margin-bottom: .6rem;

    @include mq($from: tablets) {
        justify-content: left;
    }
}
.title-main-icon {
    display: flex;
    color: rgba(20, 141, 221, 0.61);
    align-items: center;
    align-content: center;
    text-align: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-radius: .25rem;
    width: 2rem;
    height: 2rem;
}
.title-main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
}
