.toolbar {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;

    &-right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &__item {
            display: flex;
            text-decoration: none;
            margin-right: 1rem;
            color: #3f6ad8;
            border: 1px solid #3f6ad8;
            background: #fff;
            padding: 0.3rem 0.8rem;
            box-sizing: border-box;
            border-radius: .25rem;
            align-items: center;

            .item-icon {
                font-size: 1rem;
                font-weight: 700;
                margin-right: .3rem;
            }
            .item-text {
                font-size: .9rem;
                font-weight: 400;
            }

            &:hover {
                color: #fff;
                background: #3f6ad8;
                transition: all .2s;

                .item-icon {
                    color: #fff;
                }

                .item-text {
                    color: #fff;
                }
            }

            &:visited {
                color: #3f6ad8;
            }
        }

        .disabled {
            color: #b0b7bd;
        }

        .active {
            color: $text-color;
            background-color: $active-color;
        }

    }

    &-left {
        display: flex;
    }
}
