.top-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 3rem;
    box-sizing: border-box;
    align-items: center;

    .logo {
        img {
            width: auto;
            height: 2.5rem;
        }
    }
}
