$background-main: #f1f4f6;

$brand-color1: #4993C9;
$brand-color2: #0A2984;
$brand-color3: #0A2984;

$border-color: #dfe3e8;
$border-field-color: #c4cdd5;
$border-boxes: #7fa1bf;;

$text-color: #212b36;
$leyend-color: #637381;
$contrast-color: #2F3533;

$hover-color: #EDF0F3;
$hover-text: #202e78;
$active-color: rgba(33,43,54,0.1);

$icon-color: #919eab;
$card-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);

$error-color: #cb4e4e;

$green-color: #39833C;
$blue-color: #03A9F4; // #;
$red-color: #d50000;
$gray-color: #696969;
$yellow-color: #FFC107;
$purple-color: #823aa0;


.color-default {
    color: black;
    background-color: white;
}

.color-green {
    color: $green-color;
}

.color-blue {
    color: $blue-color;
}

.color-red {
    color: $red-color;
}

.color-gray {
    color: $gray-color;
}

.color-yellow {
    color: $yellow-color;
}

.color-purple {
    color: $purple-color;
}