// @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import './colors';


@mixin h1text {
    color: $text-color;
    font-weight: 600;
    font-size: 1.8rem;
}

@mixin h2text {
    color: $text-color;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

@mixin h3text {
    color: $text-color;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 2.4rem;
}

@mixin n1text {
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2rem;
    color: $text-color;
}

@mixin l1text {
    color: $leyend-color;
    font-size: .8rem;
}

@mixin l2text {
    color: $leyend-color;
    font-size: .97rem;
}

.mark {
    font-weight: 700;
}