{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/sales_saleorder_retrieve.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}

<div class="content">
    <div class="content-header">
        <div class="breadcrumb">
            <div class="breadcrumb-title">
                {{page_title}}
            </div>
        </div>
    </div>

    {% tag_messages messages %}

    <div class="content-body">
        <div class="content-body__section">
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Informacion de Pedido:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_date "Fecha" record.created_date _size="x1" %}
                        {% tag_card_info_body_item_text "Cliente" record.client.commercial_name _size="x1" _icon="fas fa-user" %}
                        {% tag_card_info_body_item_text "Almacen" record.warehouse.name _size="x1" _icon="fas fa-warehouse" %}
                        {% if record.work_id %}
                            {% tag_card_info_body_item_text "Obra" record.work_id _size="x1" _icon="fas fa-archway" %}
                        {% endif %}
                        {% if record.credit_days %}
                            {% tag_card_info_body_item_text "A Credito" record.get_credit_days_display _size="x1" _icon="fas fa-archway" %}
                        {% endif %}
                        {% tag_card_info_body_item_text "Sucursal" record.branchoffice.name _size="x1" _icon="fas fa-store" %}
                        {% tag_card_info_body_item_text "Cantidad de Articulos" record.qty_items _size="x1" _icon="fas fa-boxes" %}                        
                        {% tag_card_info_body_item_currency "Subtotal por Articulos" record.subtotal_price _size="x1" %}
                        {% tag_card_info_body_item_currency "Impuesto por Articulos" record.total_tax _size="x1" %}
                        {% tag_card_info_body_item_currency "Costo Total por Articulos" record.total_amount _size="x1" %}
                        {% tag_card_info_body_item_currency "Cantidad Pendiente de Pago" record.amount_outstanding _size="x1" %}                        
                        {% if record.description %}
                            {% tag_card_info_body_item_text "Descripción" record.description _size="x2" _icon="fas fa-file-alt" %}
                        {% endif %}
                        {% if record.comments %}
                            {% tag_card_info_body_item_text "Comentarios" record.comments _size="x2" _icon="fas fa-comment-dots" %}
                        {% endif %}
                        {% tag_card_info_body_item_text "Estado" record.get_status_display _size="x2" %}
                    </div>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Ariculos:
                    </div>
                </div>
            </div>
            {% for item in record.in_saleorderitem.all %}
                <div class="card-info">
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            {% tag_card_info_body_item_text "Articulo" item.item.item.name _size="x1" _icon="fas fa-box-open" %}
                            {% tag_card_info_body_item_text "Codigo de Barras" item.item.item.upc _size="x1" _icon="fas fa-barcode" %}
                            {% tag_card_info_body_item_text "Cantidad" item.qty _size="x1" _icon="fas fa-boxes" %}
                            {% tag_card_info_body_item_text "Impuesto" item.tax.factor _size="x1" _icon="fas fa-university" %}
                            {% tag_card_info_body_item_currency "Precio" item.price _size="x1" %}
                            {% tag_card_info_body_item_currency "Subtotal" item.subtotal_price _size="x1" %}
                            {% tag_card_info_body_item_currency "Impuesto" item.total_tax _size="x1" %}
                            {% tag_card_info_body_item_currency "Total por Articulos" item.total_amount _size="x1" %}
                            {% tag_card_info_body_item_text "Comentarios" item.comments _size="x2" _icon="fas fa-comment-dots" %}

                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card-info">
                    <div class="card-info-body">
                        <div class="card-info-body__items">
                            NO SE ENCONTRARON ARTICULOS RELACIONADOS A ESTA ORDEN DE COMPRA.
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div>
        <div class="content-body__aside">
            {% tag_card_aside_audit record %}  
            <div class="card-aside">
                <div class="card-aside-header">
                    Otras Acciones:
                </div>
                <div class="card-aside-body">
                    <div class="card-aside-body-data">
                        {% if not record.invoice %}
                            <a href="{% url 'sales:saleorder-invoice' record.pk %}" class="btn btn-normal btn-main">
                                <i class="fas fa-file-invoice-dollar"></i>
                                &nbspFacturar
                            </a>
                        {% else %}
                            <a href="{% url 'sales:saleorder-invoice-xml' record.pk %}" class="btn btn-normal btn-main">
                                <i class="fas fa-file-invoice-dollar"></i>
                                &nbspDescargar Factura XML
                            </a>
                            <br>
                            <br>
                            <a href="{% url 'sales:saleorder-invoice-pdf' record.pk %}" class="btn btn-normal btn-main">
                                <i class="fas fa-file-invoice-dollar"></i>
                                &nbspDescargar Factura PDF
                            </a>
                            <br>
                            <br>
                            <a href="{% url 'sales:saleorder-invoice-cancel' record.pk %}" class="btn btn-normal btn-default">
                                <i class="fas fa-file-invoice-dollar"></i>
                                &nbspCancelar Factura
                            </a>
                            <br>
                            <br>
                            <a href="{% url 'sales:saleorder-invoice-files' record.pk %}" class="btn btn-normal btn-main">
                                <i class="fas fa-file-invoice-dollar"></i>
                                &nbspEnviar Factura
                            </a>
                            <br>
                            <br>
                        {% endif %}
                        {% if USER.is_superuser or 'EPOV' in USER.permissions %}
                        {% tag_card_aside_action_button _url='sales:saleorder-export-pdf' _pk=record.id _tag='Exportar PDF' _icon='fas fa-file-pdf' _access='EPOV' _button='btn btn-normal btn-default' %}
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>
    </div>        
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/sales_saleorder_retrieve.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}