{% extends "master/in/master_in.html" %}
{% load static %}
{% load tags_feedback %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'build/home_profile_detail.min.css' %}?version={{ APP.version }}">
{% endblock css %}

{% block content %}
<form class="content" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-header">

        <div class="title-main">
            {{page_title}}
        </div>

        <div class="toolbar">
            <div class="toolbar-right">
                <a class="toolbar-right__item active" href="{% url 'home:profile-detail' USER.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span class="item-text">
                        Perfil
                    </span>
                </a>
                <a class="toolbar-right__item" href="{% url 'home:profile-password' USER.pk %}">
                    <span class="item-icon">
                        <i class="fas fa-key"></i>
                    </span>
                    <span class="item-text">
                        Contraseña
                    </span>
                </a>
            </div>
        </div>

        {% tag_messages messages %}
    </div>

    <div class="content-body">

        <div class="content-body__section">
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Información de Usuario:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_text "Nombre" record.full_name _icon="fas fa-user" %}
                        {% tag_card_info_body_item_text "Email" record.email _icon="fas fa-envelope" %}
                        {% tag_card_info_body_item_bool "Activo" record.is_active _size="x1" _icon="fas fa-user-check" %}
                        {% if record.is_superuser %}
                            {% tag_card_info_body_item_bool "Super Usuario" record.is_superuser _size="x1" _icon="fas fa-user-astronaut" %}
                        {% endif %}
                        {% if record.is_staff %}
                            {% tag_card_info_body_item_bool "Staff" record.is_staff _size="x1" _icon="fas fa-user-tie" %}
                        {% endif %}

                    </div>
                </div>
            </div>

            {% if record.employeeprofile %}
            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Información de Empleado:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_text "Genero" record.employeeprofile.get_gender_display _size="x2" _icon="fas fa-venus-mars" %}
                        {% tag_card_info_body_item_date "Fecha de Nacimiento" record.employeeprofile.birthdate _size="x2"  %}
                        {% tag_card_info_body_item_text "Centro de Distribución" record.employeeprofile.branchoffice _size="x2" _icon="fas fa-map-marker-alt" %}
                        {% tag_card_info_body_item_text "Puesto" record.employeeprofile.position _size="x2" _icon="fab fa-black-tie" %}
                    </div>
                 </div>
            </div>

            <div class="card-info">
                <div class="card-info-header">
                    <div class="header-item">
                        Dirección:
                    </div>
                </div>
                <div class="card-info-body">
                    <div class="card-info-body__items">
                        {% tag_card_info_body_item_text "Calle" record.employeeprofile.street _size="x1" %}
                        {% tag_card_info_body_item_text "Num Ext" record.employeeprofile.outdoor_number _size="x1" %}
                        {% if record.employeeprofile.interior_number %}
                            {% tag_card_info_body_item_text "Num Int" record.employeeprofile.interior_number _size="x1" %}
                        {% endif %}
                        {% tag_card_info_body_item_text "Entre Calle 1" record.employeeprofile.between_street_a _size="x1" %}
                        {% tag_card_info_body_item_text "Entre Calle 2" record.employeeprofile.between_street_b _size="x1" %}
                        {% tag_card_info_body_item_text "Codigo postal" record.employeeprofile.zip_code _size="x1" %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="content-body__aside">

            {% tag_card_aside_image record.employeeprofile.photography %}

            <div class="card-aside">
                <div class="card-aside-header">
                    Detalle del registro:
                </div>
                <div class="card-aside-body">
                    {% tag_card_aside_body_item_date "Creado el:" record.date_joined %}
                    {% tag_card_aside_body_item_date "Ultimo Login:" record.last_login %}
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'build/home_profile_detail.min.js' %}?version={{ APP.version }}"></script>
{% endblock scripts %}